<!-- Hero -->
<div id="Brand_Hero" class="">
    <img src="assets/img/default_hero.jpg" class="card-img" alt="">
    <div class="card-img-overlay">
        <h1 class="main-text"></h1>
        <p class=""></p>
    </div>
</div>

<!-- Corporate -->
<section id="Corporate" class="container-fluid clearfix no-gutters pt-5 pb-5">
    <div class="container bg-white p-3">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active main-text" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="true">About Us</a>
                    <!-- <a class="nav-link main-text" id="v-pills-csr-tab" data-toggle="pill" href="#v-pills-csr" role="tab" aria-controls="v-pills-csr" aria-selected="false">CSR</a> -->
                    <!-- <a class="nav-link main-text" id="v-pills-Careers-tab" data-toggle="pill" href="#v-pills-Careers" role="tab" aria-controls="v-pills-Careers" aria-selected="false">Careers</a> -->
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
                        <p>Click to download our company profile.</p>
                        <a href="assets/downloads/egl_company_profile.pdf" type="button" class="btn btn-outline-dark" download><i class="fas fa-file-download"></i> Download Company Profile.PDF</a>
                    </div>
                    <!-- <div class="tab-pane fade" id="v-pills-csr" role="tabpanel" aria-labelledby="v-pills-csr-tab">
                        CSR
                    </div> -->
                    <!-- <div class="tab-pane fade" id="v-pills-Careers" role="tabpanel" aria-labelledby="v-pills-Careers-tab">
                        Careers
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>