<!-- Hero -->
<div id="Brand_Hero" class="">
    <img src="assets/img/default_hero.jpg" class="card-img" alt="">
    <div class="card-img-overlay">
        <h1 class="main-text"></h1>
        <p class=""></p>
    </div>
</div>

<!-- Corporate -->
<section id="Corporate" class="container-fluid clearfix no-gutters pt-5 pb-5">
    <div class="container bg-white p-3">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active main-text" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="true">CSR</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
                        CSR
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>