<!-- Bootstrap Core CSS -->
<link href="assets/css/bootstrap.css" rel="stylesheet">

<!-- Animate CSS -->
<link href="assets/css/animate.css" rel="stylesheet">
<link href="assets/css/loader.css" rel="stylesheet">

<!-- Cookie Script -->
<link href="assets/css/cookiealert.css" rel="stylesheet">

<!-- Range Slider -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>

<!-- Hover CSS -->
<link href="assets/css/hover-min.css" rel="stylesheet">

<!-- ekko-lightbox Style -->
<link href="assets/css/ekko-lightbox.css" rel="stylesheet">

<!-- Owl Carousel  -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" type="text/css"/>

<!-- FancyBox -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" rel="stylesheet" type="text/css"/>

<!-- Toaster -->
<link href="assets/css/toastr.css" rel="stylesheet">

<!-- Cart CSS -->
<!-- <link href="assets/css/cart.css" rel="stylesheet"> -->

<!-- Custom CSS -->
<link href="assets/css/custom.css" rel="stylesheet">

<!-- Checkout CSS -->
<!-- <link href="assets/css/checkout.css" rel="stylesheet"> -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/storelocatorjs/dist/storelocator/css/storelocator.css" />
<script src="https://cdn.jsdelivr.net/npm/storelocatorjs/dist/storelocator/js/storelocator.min.js"></script>
