<!-- For md (≥768px) lg (≥992px) xl (≥1200px) -->
<section class="d-none d-md-block">
    <div id="Terms" class="container-fluid text-center text-dark p-5">
        <div class="container bg-white p-5">
            <div class="row">
                <div class="col">
                    <a href="locations">
                        <h5 class="main-text">Where to Buy</h5>
                        <p class="">Find a store.</p>
                        <p class="small text-muted">Learn More</p>
                        <i class="fas text-muted fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="support">
                        <h5 class="main-text">Free Delivery</h5>
                        <p class="">3500 Ghs and Above.</p>
                        <p class="small text-muted">Learn More</p>
                        <i class="fas text-muted fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="support">
                        <h5 class="main-text">Bank Installment</h5>
                        <p class="">Flexible payment terms.</p>
                        <p class="small text-muted">Learn More</p>
                        <i class="fas text-muted fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="support">
                        <h5 class="main-text">Support</h5>
                        <p class="">We are here for you.</p>
                        <p class="small text-muted">Learn More</p>
                        <i class="fas text-muted fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="blogs">
                        <h5 class="main-text">CSR</h5>
                        <p class="">How we support our communities.</p>
                        <p class="small text-muted">Learn More</p>
                        <i class="fas text-muted fa-long-arrow-alt-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="Footer" class="">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="list-unstyled">
                        <li class="main-text text-uppercase h5 border-bottom-light">Brands</li>
                        <li class=""><a href="brands/samsung">Samsung</a></li>
                        <li class=""><a href="brands/toshiba">Toshiba</a></li>
                        <li class=""><a href="brands/midea">Midea</a></li>
                        <li class=""><a href="brands/nasco">Nasco</a></li>
                        <li class=""><a href="brands/abb">ABB</a></li>
                        <li class=""><a href="brands/abb">ABB</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-unstyled">
                        <li class="main-text text-uppercase h5 border-bottom-light">Support</li>
                        <li class=""><a href="locations">Contact Us</a></li>
                        <li class=""><a href="locations">Live Chat</a></li>
                        <li class=""><a href="mailto:info@electrolandgh.com?subject=Email Support">Email</a></li>
                        <li class=""><a href="tel:+33-640-86-0057" rel="nofollow">Phone</a></li>
                        <li class=""><a href="locations">Service Location</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-unstyled">
                        <li class="main-text text-uppercase h5 border-bottom-light">About Us</li>
                        <li class=""><a href="corporate">About Us</a></li>
                        <li class=""><a href="blogs">News</a></li>
                        <li class=""><a href="blogs">Articles</a></li>
                        <li class=""><a href="corporate#v-pills-Careers">Careers</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h5 class="main-text text-uppercase h5 border-bottom-light">Subscribe</h5>
                    <p>Don't miss out on the latest news and deals. Enter your email to subscribe to our newsletter.</p>
                    <form class="">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button class="btn-subscribe btn-dark" type="submit">
                                    <i class="far fa-paper-plane"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark color">
        <div class="container p-5">
            <ul class="list-inline float-left">
                <li class="list-inline-item"><a>USA / English</a></li>
                <li class="list-inline-item"><a href="conditions">Privacy / Cookie Policy</a></li>
                <li class="list-inline-item"><a href="conditions">Terms & Conditions</a></li>
                <li class="list-inline-item"><a href="locations">Help</a></li>
            </ul>

            <ul class="list-inline float-right">
                <li class="list-inline-item">Follow Us:</li>
                <li class="list-inline-item"><a href="https://web.facebook.com/electrolandgh?_rdc=1&_rdr"><i class="fab fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/electrolandgh"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://www.instagram.com/electrolandgh/"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</section>

<!-- For xs (<576px)	sm (≥576px) -->
<section class="d-block d-md-none">
    <div id="Terms" class="container-fluid text-center text-dark p-5">
        <div class="container bg-white p-5">
            <div class="row">
                <div class="col-sm-12">
                    <a href="locations">
                        <h5 class="main-text">Where to Buy</h5>
                        <p class="">Find a store.</p>
                        <p class="small text-muted">Learn More</p>
                        <i class="fas text-muted fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="col-sm-12">
                    <a href="support">
                        <h5 class="main-text">Free Delivery</h5>
                        <p class="">3500 Ghs and Above.</p>
                        <p class="small text-muted">Learn More</p>
                        <i class="fas text-muted fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="col-sm-12">
                    <a href="support">
                        <h5 class="main-text">Pay-Later</h5>
                        <p class="">Flexible payment terms.</p>
                        <p class="small text-muted">Learn More</p>
                        <i class="fas text-muted fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="col-sm-12">
                    <a href="support">
                        <h5 class="main-text">Support</h5>
                        <p class="">We are here for you.</p>
                        <p class="small text-muted">Learn More</p>
                        <i class="fas text-muted fa-long-arrow-alt-right"></i>
                    </a>
                </div>
                <div class="col-sm-12">
                    <a href="corporate">
                        <h5 class="main-text">CSR</h5>
                        <p class="">How we support our communities.</p>
                        <p class="small text-muted">Learn More</p>
                        <i class="fas text-muted fa-long-arrow-alt-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="Footer" class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled">
                        <li class="main-text text-uppercase h5 border-bottom-light">Brands</li>
                        <li class=""><a href="samsung">Samsung</a></li>
                        <li class=""><a href="toshiba">Toshiba</a></li>
                        <li class=""><a href="midea">Midea</a></li>
                        <li class=""><a href="nasco">Nasco</a></li>
                        <li class=""><a href="abb">ABB</a></li>
                        <li class=""><a href="abb">Philip</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul class="list-unstyled">
                        <li class="main-text text-uppercase h5 border-bottom-light">Support</li>
                        <li class=""><a href="locations">Contact Us</a></li>
                        <li class=""><a href="locations">Live Chat</a></li>
                        <li class=""><a href="mailto:info@electrolandgh.com?subject=Email Support">Email</a></li>
                        <li class=""><a href="tel:+33-640-86-0057" rel="nofollow">Phone</a></li>
                        <li class=""><a href="locations">Service Location</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <ul class="list-unstyled">
                        <li class="main-text text-uppercase h5 border-bottom-light">About Us</li>
                        <li class=""><a href="corporate">About Us</a></li>
                        <li class=""><a href="blogs">News</a></li>
                        <li class=""><a href="blogs">Articles</a></li>
                        <li class=""><a href="corporate#v-pills-Careers">Careers</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <h5 class="main-text text-uppercase h5 border-bottom-light">Subscribe</h5>
                    <p>Don't miss out on the latest news and deals. Enter your email to subscribe to our newsletter.</p>
                    <form class="">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button class="btn-subscribe btn-dark" type="submit">
                                    <i class="far fa-paper-plane"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark color">
        <div class="container p-5">
            <ul class="list-inline">
                <li class="list-inline-item"><a>USA / English</a></li>
                <li class="list-inline-item"><a href="conditions">Privacy / Cookie Policy</a></li>
                <li class="list-inline-item"><a href="conditions">Terms & Conditions</a></li>
                <li class="list-inline-item"><a href="locations">Help</a></li>
            </ul>

            <ul class="list-inline">
                <li class="list-inline-item">Follow Us:</li>
                <li class="list-inline-item"><a href="https://web.facebook.com/electrolandgh?_rdc=1&_rdr"><i class="fab fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/electrolandgh"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://www.instagram.com/electrolandgh/"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</section>

<!-- Cookie Script -->
<div class="alert text-center cookiealert" role="alert">
    <p class="">We use cookies to make your experience better. To comply with the new e-Privacy directive, we need to ask for your consent to set the cookies.</p>
    <a class="btn btn-warning" href="conditions">Learn More</a>
    <button type="button" class="btn btn-outline-light acceptcookies" aria-label="Close">
        I agree
    </button>
</div>


<!-- Mainly scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
<!-- <script src="https://raw.githubusercontent.com/arunisrael/angularjs-geolocation/master/dist/angularjs-geolocation.min.js"></script> -->
<!-- <script src="http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=geometry,places"></script> -->

<!-- <script type="text/javascript" src="assets/js/angular/angular.min.js"></script>
<script type="text/javascript" src="assets/js/angular/angular-sanitize.js"></script> -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script> -->
<!-- <script type="text/javascript" source src="assets/js/angular/angular-timer-bower.js"></script> -->
<script type="text/javascript" src="assets/js/core/app.js"></script>
<!-- <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script> -->

<?php require_once('js.phtml') ?>

</body>

</html>