<!DOCTYPE html>
<html ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?php echo ucwords($_GET['title']); ?></title>
    <meta name="description" content="<?php echo ucwords($_GET['description']); ?>">
    <meta name="keywords" content="<?php echo ucwords($_GET['keywords']); ?>">
    <meta name="image" content="<?php echo $_GET['image']; ?>"/>
    <meta name="author" content="RONIN AFRICA">
    <meta name="copyright" content="RONIN AFRICA TECHNOLOGY" />
    <meta name="application-name" content="" />
    <meta name="robots" content="no-follow, no-index">
    <!-- <base href="http://localhost:8888/electroland-v2.1/"> -->
    
    <base href="https://electrolandgh.com/">
    <!--FACEBOOK-->
    <meta property="og:locale" content="en_US">
    <meta property="og:language" content="En">
    <meta property="og:type" content="article">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <!-- <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon"> -->
    <!-- <script src="assets/js/core/app.js"></script> -->

    <!-- for Facebook -->
    <meta property="og:type" content="Corporate"/>
    <meta property="og:title" content="<?php echo $_GET['title']; ?>"/>
    <meta property="og:image" content="<?php echo $_GET['image']; ?>"/>
    <meta property="og:url" content="http://electrolandgh.com"/>
    <meta property="fb:admins" content="333416310773872"/>
    <meta property="og:site_name" content="Electroland Ghana Limited"/>
    <meta property="og:description" content="<?php echo $_GET['description']; ?>"/>
    
    <!-- Schema.org markup for Google+ -->
    <meta itemscope="" itemtype="http://schema.org/Coporate">
    <meta itemprop="name" content="Electroland Ghana Limited">
    <meta itemprop="image" content="<?php echo $_GET['image']; ?>">
    <meta itemprop="description" content="<?php echo $_GET['description']; ?>">
    
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Electrolandgh">
    <meta name="twitter:title" content="<?php echo $_GET['title']; ?>">
    <meta name="twitter:description" content="<?php echo $_GET['description']; ?>">
    <meta name="twitter:creator" content="@Electrolandgh">
    <meta name="twitter:image" content="<?php echo $_GET['image']; ?>">
    
    <?php require_once('css.phtml') ?>
    <!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <script src="assets/js/bootstrap-4.0.0.min.js"></script> -->
    <!-- <script src="assets/preloader.js"></script> -->
<!--     <script src="assets/js/core/post.js"></script>
    <script src="assets/js/core/update.js"></script> -->
</head>

<body class="" ng-controller="searchcontroller">
    <div class="preloader-wrapper">
        <div class="preloader">
            <img src="assets/img/loaders/2.gif" alt="Loader">
        </div>
    </div>