<!-- jQuery -->
<script src="assets/js/jquery-3.4.1.min.js" type="text/javascript"></script>

<!-- Propper Js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"  crossorigin="anonymous"></script>

<!-- Bootstrap Core Js -->
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript" src="assets/preloader.js"></script>

<!-- Cookie Script -->
<script src="assets/js/cookiealert.js"></script>

<!-- Range Slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>

<!-- Font Awesome -->
<script src="assets/js/all.js" type="text/javascript"></script>

<!-- ekko-lightbox Js -->
<script type="text/javascript" src="assets/js/ekko-lightbox.min.js"></script>

<!-- Owl Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- elevatezoom -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

<!-- fancy Box -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<!-- Toaster -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> -->
<script type="text/javascript" src="assets/js/jquery.toaster.js"></script>
<script type="text/javascript" src="assets/js/toastr.js"></script>

<!-- Custom JavaScript -->
<script type="text/javascript" src="assets/js/custom.js"></script>

<!-- process form -->
<script src="assets/js/process_form.js" type="text/javascript"></script>

<!-- video script -->
<script src="assets/js/video_script.js" type="text/javascript"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5e8f228969e9320caac1ebea/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->

<!-- Global site tag (gtag.js) - Google Ads: 950259992 --> 
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-950259992"></script> 
<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-950259992'); </script>

<!-- <script>

	// var myMapCenter = {lat: 40.785091, lng: -73.968285};
	function initMap() {
		var myMapCenter = {lat: 5.6511273, lng: -0.2113687 };

        // infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            alert('getting location');
          navigator.geolocation.getCurrentPosition(function(position) {
            myMapCenter = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            // infoWindow.setPosition(pos);
            // infoWindow.setContent('Location found.');
            // infoWindow.open(map);
            // map.setCenter(pos);
          }, function() {
            // handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
        //   handleLocationError(false, infoWindow, map.getCenter());
        }

		// Create a map object and specify the DOM element for display.
		var map = new google.maps.Map(document.getElementById('maplocation'), {
			center: myMapCenter,
			zoom: 14
		});


		function markStore(storeInfo){

			// Create a marker and set its position.
			var marker = new google.maps.Marker({
				map: map,
				position: storeInfo.location,
				title: storeInfo.name
			});

			// show store info when marker is clicked
			marker.addListener('click', function(){
				showStoreInfo(storeInfo);
			});
		}

		// show store info in text box
		function showStoreInfo(storeInfo){
			var info_div = document.getElementById('info_div');
			info_div.innerHTML = 'Store name: '
				+ storeInfo.name
				+ '<br>Hours: ' + storeInfo.hours;
		}

		var stores = [
			{
				name: 'Store 1',
				location: {lat: 5.6543275, lng: -0.2103809 },
				hours: '8AM to 10PM'
			},
			{
				name: 'Store 2',
				location: {lat: 5.6543275, lng: -0.2103809 },
				hours: '9AM to 9PM'
			}
		];

		stores.forEach(function(store){
			markStore(store);
		});

	}
</script> -->


<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGBbfja7Mr3UXuJFizf89Q3fQbPY3XYqk&libraries=places&callback=initMap" async defer></script> -->

</body>

</html>