<header class="cd-auto-hide-header bg-white">
    <p class="marquee main-text">Sorry for any inconvenience caused, our website is still under-construction</p>
    <div class="logo">
        <a href="home">
            <img class="img-fluid logo" src="assets/img/logo.png" alt="Electroland Ghana Limited">
        </a>
    </div>

    <nav class="cd-primary-nav">
        <!-- .nav-trigger -->
        <a href="#cd-navigation" class="nav-trigger">
            <span>
                <em aria-hidden="true"></em>
            </span>
        </a>

        <ul id="brandsNav" class="text-uppercase main-text navbar-nav collapse animated fadeIn">
            <li class="nav-item">
                <a class="nav-link samsung" href="brands/samsung">Samsung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link toshiba" href="brands/toshiba">Toshiba</a>
            </li>
            <li class="nav-item">
                <a class="nav-link midea" href="brands/midea">Midea</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nasco" href="brands/nasco">Nasco</a>
            </li>
            <li class="nav-item">
                <a class="nav-link abb" href="brands/abb">ABB</a>
            </li>
            <li class="nav-item">
                <a class="nav-link philips mr-4" href="brands/philips">Philips</a>
            </li>
        </ul>

        <ul id="cd-navigation" class="text-uppercase main-text navbar-nav">
            <?php
            if (isset($_GET['page']) && $_GET['page'] === 'brand' && isset($_GET['brand']['categories'])) {
                $category = $_GET['brand']['categories'];
                if (isset($category)) {
                    // print_r($category);
                    echo
                        '<li class="nav-item" ng-hide="mobile">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Categories <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <div class="row">
                                        <div class="col">
                                            <ul class="llist-inline">
                                                ';
                    foreach ($category as $key => $value) {
                        if ($value['_id']) {
                            echo '<li class="list-inline-item mt-2 mb-2"><a href="brands/' . $_GET['brand']['name'] . '/category/' . $value['_id'] . '">' . $value['name'] . '</a></li>';
                        }
                    }
                    echo '
                                            </ul>
                                        </div>
                                    </div>
                                </ul>
                            </li>';
                    echo '<li class="nav-item" ng-show="mobile">
                                <a class="nav-link" href="brands">Brands</a>
                            </li>';
                }
            } else {
                // echo '<li class="nav-item" ng-hide="mobile">
                //             <a class="nav-link" data-toggle="collapse" href```="#brandsNav" role="button" aria-expanded="false" aria-controls="brandsNav">Brands</a>
                //         </li>';
                echo '<li class="nav-item" ng-show="mobile">
                            <a class="nav-link" href="brands">Brands</a>
                        </li>';
                echo '<li class="nav-item" ng-hide="mobile">
                            <a class="nav-link" href="brands">Brands</a>
                        </li>';
            }
            ?>
            <li class="nav-item">
                <a class="nav-link" href="products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="promotions">Promotions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="corporate">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="locations">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:void" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- Search-->
                    <?php require_once('search.phtml') ?>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="cart" style="font-size: 16px; margin-top: -4px; margin-left: -8px;">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="badge badge-pill badge-dark">{{cart.length}}</span>
                </a>
            </li>
        </ul>

    </nav>
</header>