<header class="cd-auto-hide-header bg-white">
	<div class="logo">
        <a href="home">
          <img class="img-fluid logo" src="assets/img/logo.png" alt="Electroland Ghana Limited">
        </a>
    </div>

	<nav class="cd-primary-nav">
        <!-- .nav-trigger -->
		<a href="#cd-navigation" class="nav-trigger">
			<span>
				<em aria-hidden="true"></em>
			</span>
        </a> 
        
        <ul id="brandsNav" class="text-uppercase main-text navbar-nav collapse animated fadeIn">
            <li class="nav-item">
                <a class="nav-link samsung" href="brands/samsung">Samsung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link toshiba" href="brands/toshiba">Toshiba</a>
            </li>
            <li class="nav-item">
                <a class="nav-link midea" href="brands/midea">Midea</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nasco" href="brands/nasco">Nasco</a>
            </li>
            <li class="nav-item">
                <a class="nav-link abb mr-4" href="brands/abb">ABB</a>
            </li>
        </ul>

		<ul id="cd-navigation" class="text-uppercase main-text navbar-nav pt-2">
            <?php
                if(isset($_GET['page']) && $_GET['page'] === 'brand' && isset($_GET['brand']['categories'])) {
                    $category = $_GET['brand']['categories'];
                    if(isset($category)) {
                        // print_r($category);
                        echo '<li class="nav-item">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    Categories <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">';
                        foreach ($category as $key => $value)
                        {
                            if($value['_id']) {
                                echo '<li><a href="brands/'.$_GET['brand']['name'].'/category/'.$value['_id'].'">'.$value['name'].'</a></li>';
                            }
                        }
                        echo '</ul>
                            </li>';
                    }
                } else {
                    echo '<li class="nav-item" ng-hide="mobile">
                            <a class="nav-link" data-toggle="collapse" href="#brandsNav" role="button" aria-expanded="false" aria-controls="brandsNav">Brands</a>
                        </li>';
                    echo '<li class="nav-item" ng-show="mobile">
                            <a class="nav-link" href="brnads">Brands</a>
                        </li>';
                }
            ?>
			<li class="nav-item">
                <a class="nav-link" href="promotions">Promotions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="corporate">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="locations">Contact Us</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="blogs">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="locations">Contact Us</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:void" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- Search-->
                    <?php require_once('search.phtml') ?>
               </div>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-dark text-white p-2 mt-n2" href="https://electrolandgh.com">Store</a>
            </li>
        </ul>

	</nav>
</header>