<div>
    <form class="form-control">
        <input type="search" class="form-control" ng-model="search" placeholder="We can help find it..." autofocus="autofocus">
    </form>
    <div class="row mt-3">
        <div class="col-sm-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" ng-repeat="c in category | filter:search | limitTo: 8 : 0"><a href="category/{{c._id}}">{{c.name}}</a></li>
                <!-- <li><a href="javascript:void(0)">LED Tvs</a></li>
                <li><a href="javascript:void(0)">Toshiba</a></li>
                <li><a href="javascript:void(0)">Accessories</a></li>
                <li><a href="javascript:void(0)">VR Gear</a></li>
                <li><a href="javascript:void(0)">Ovens</a></li>
                <li><a href="javascript:void(0)">Microwaves</a></li>
                <li><a href="javascript:void(0)">Air Conditions</a></li>
                <li><a href="javascript:void(0)">Phone cases</a></li>
                <li><a href="javascript:void(0)">Accessories</a></li> -->
            </ul>
        </div>
        <div id="Search" class="col-sm-8">
            <div class="row">
                <div class="col-sm-4" ng-repeat="p in products | filter:search | limitTo : 3 : 0">
                    <div class="bg-white">
                        <a href="products/{{p._id}}">
                            <div class="product-image">
                                <img ng-src="{{imageurl + p.imageurl}}" onerror="this.src='assets/img/default/no-image.jpeg'" class="img-fluid" alt="">
                            </div>
                            <div class="p-3 text-center bg-gray">
                                <!-- Product names -->
                                <h6 class="main-text" ng-class="{'mt-3': p.name.length <= 20 }">{{p.name}}</h6>
                                <p class="text-muted">{{p.code}}</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 d-none">
                    <div class="bg-white">
                        <a href="product">
                            <div class="product-image">
                                <img src="assets/img/toshiba/h1.png" class="img-fluid" alt="">
                            </div>
                            <div class="p-3 text-center bg-gray">
                                <!-- Product names -->
                                <h6 class="main-text ">Product Name</h6>
                                <p class="text-muted">SKU-UA55-123GW</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-4 d-none">
                    <div class="bg-white">
                        <a href="querry">
                            <div class="product-image">
                                <img src="assets/img/nasco/air-con.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="p-3 text-center bg-gray">
                                <!-- Product names -->
                                <h6 class="main-text ">Product Name</h6>
                                <p class="text-muted">SKU-UA55-123GW</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>