<!-- Hero -->
<div id="Brand_Hero" class="">
  <img src="assets/img/default_hero.jpg" class="card-img" alt="">
  <div class="card-img-overlay">
    <h1 class="main-text"></h1>
    <p class=""></p>
  </div>
</div>

<!-- Conditions -->
<section id="Corporate" class="container-fluid clearfix no-gutters pt-5 pb-5">
	<div class="container">
		<div class="row bg-white p-3">
			<div class="col-3">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active main-text" id="v-pills-privacy-tab" data-toggle="pill" href="#v-pills-privacy" role="tab" aria-controls="v-pills-privacy" aria-selected="true">Privacy and Cookie Policy</a>
					<a class="nav-link main-text" id="v-pills-cookies-tab" data-toggle="pill" href="#v-pills-cookies" role="tab" aria-controls="v-pills-cookies" aria-selected="false">Privacy Policy</a>
					<a class="nav-link main-text" id="v-pills-terms-tab" data-toggle="pill" href="#v-pills-terms" role="tab" aria-controls="v-pills-terms" aria-selected="false">Terms & Conditions of Use</a>
				</div>
			</div>
			<div class="col-9">
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="v-pills-privacy" role="tabpanel" aria-labelledby="v-pills-privacy-tab">

						<p>This privacy policy sets out how this website (hereafter "the Store") uses and protects any information that you give the Store while using this website. The Store is committed to ensuring that your privacy is protected. Should we ask you to provide
							certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement. The Store may change this policy from time to time by updating this page. You
							should check this page from time to time to ensure that you are happy with any changes.</p>
						<h6 class="main-text">What we collect</h6>
						<p>We may collect the following information:</p>
						<ul>
							<li>name</li>
							<li>contact information including email address</li>
							<li>demographic information such as postcode, preferences and interests</li>
							<li>other information relevant to customer surveys and/or offers</li>
						</ul>
						<p>For the exhaustive list of cookies we collect see the <a href="#list">List of cookies we collect</a> section.</p>
						<h6 class="main-text">What we do with the information we gather</h6>
						<p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>
						<ul>
							<li>Internal record keeping.</li>
							<li>We may use the information to improve our products and services.</li>
							<li>We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided.</li>
							<li>From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customise the website according to your interests.</li>
						</ul>
						<h6 class="main-text">Security</h6>
						<p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.
						</p>
						<h6 class="main-text">How we use cookies</h6>
						<p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications
							to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>
						<p>We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes
							and then the data is removed from the system.</p>
						<p>Overall, cookies help us provide you with a better website, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose
							to share with us. You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of
							the website.</p>
						<h6 class="main-text">Links to other websites</h6>
						<p>Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible for the protection
							and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>
						<h6 class="main-text">Controlling your personal information</h6>
						<p>You may choose to restrict the collection or use of your personal information in the following ways:</p>
						<ul>
							<li>whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes</li>
							<li>if you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by letting us know using our Contact Us information</li>
						</ul>
						<p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we
							think you may find interesting if you tell us that you wish this to happen.</p>
						<p>You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please email us this request using our Contact Us information.</p>
						<p>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.</p>
						<h6 class="main-text"><a name="list"></a>List of cookies we collect</h6>
						<p>The table below lists the cookies we collect and what information they store.</p>
						<table class="data-table data-table-definition-list">
							<thead>
								<tr>
									<th>Cookie Name</th>
									<th>Cookie Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>FORM_KEY</th>
									<td>Stores randomly generated key used to prevent forged requests.</td>
								</tr>
								<tr>
									<th>PHPSESSID</th>
									<td>Your session ID on the server.</td>
								</tr>
								<tr>
									<th>GUEST-VIEW</th>
									<td>Allows guests to view and edit their orders.</td>
								</tr>
								<tr>
									<th>PERSISTENT_SHOPPING_CART</th>
									<td>A link to information about your cart and viewing history, if you have asked for this.</td>
								</tr>
								<tr>
									<th>STF</th>
									<td>Information on products you have emailed to friends.</td>
								</tr>
								<tr>
									<th>STORE</th>
									<td>The store view or language you have selected.</td>
								</tr>
								<tr>
									<th>USER_ALLOWED_SAVE_COOKIE</th>
									<td>Indicates whether a customer allowed to use cookies.</td>
								</tr>
								<tr>
									<th>MAGE-CACHE-SESSID</th>
									<td>Facilitates caching of content on the browser to make pages load faster.</td>
								</tr>
								<tr>
									<th>MAGE-CACHE-STORAGE</th>
									<td>Facilitates caching of content on the browser to make pages load faster.</td>
								</tr>
								<tr>
									<th>MAGE-CACHE-STORAGE-SECTION-INVALIDATION</th>
									<td>Facilitates caching of content on the browser to make pages load faster.</td>
								</tr>
								<tr>
									<th>MAGE-CACHE-TIMEOUT</th>
									<td>Facilitates caching of content on the browser to make pages load faster.</td>
								</tr>
								<tr>
									<th>SECTION-DATA-IDS</th>
									<td>Facilitates caching of content on the browser to make pages load faster.</td>
								</tr>
								<tr>
									<th>PRIVATE_CONTENT_VERSION</th>
									<td>Facilitates caching of content on the browser to make pages load faster.</td>
								</tr>
								<tr>
									<th>X-MAGENTO-VARY</th>
									<td>Facilitates caching of content on the server to make pages load faster.</td>
								</tr>
								<tr>
									<th>MAGE-TRANSLATION-FILE-VERSION</th>
									<td>Facilitates translation of content to other languages.</td>
								</tr>
								<tr>
									<th>MAGE-TRANSLATION-STORAGE</th>
									<td>Facilitates translation of content to other languages.</td>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="tab-pane fade" id="v-pills-cookies" role="tabpanel" aria-labelledby="v-pills-cookies-tab">
						<h6 class="main-text">Privacy Policy</h6>
						<p>This Privacy Policy was last modified on August 15, 2015</p>
						<p><span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span> we operates <span style="color: #2c9ffd;"><a href="https://electrolandgh.com"><span style="color: #2c9ffd;">https://electrolandgh.com</span></a>
							</span>, Electroland Android App, Electroland IOS App. This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
						<p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>
						<h6 class="main-text">Information Collection And Use</h6>
						<p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").</p>
						<h6 class="main-text">Log Data</h6>
						<p>Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the
							pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
						<h6 class="main-text">Cookies</h6>
						<p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
						<p>Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>
						<h6 class="main-text">Security</h6>
						<p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal
							Information, we cannot guarantee its absolute security.</p>
						<h6 class="main-text">Changes To This Privacy Policy</h6>
						<p>Electroland Ghana Limited may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on the Site. You are advised to review this Privacy Policy periodically for any changes.</p>
						<h6 class="main-text">Contact Us</h6>
						<p>If you have any questions about this Privacy Policy, please <a class="btn btn-outline-dark" href="locations">contact us</a> </p>
					</div>
					<div class="tab-pane fade" id="v-pills-terms" role="tabpanel" aria-labelledby="v-pills-terms-tab">
						<h6 class="main-text"><span>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the</span> <span style="color: #2c9ffd;"><a href="https://electrolandgh.com"><span style="color: #2c9ffd;">https://electrolandgh.com</span></a>
							<span>website or IOS/Android App operated by</span> Electroland Ghana Limited</span>.</h6>
						<p><span>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</span></p>
						<p><span>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</span></p>
						<hr />
						<h6 class="main-text">Termination</h6>
						<p><span>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</span></p>
						<p><span>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</span></p>
						<hr />
						<h6 class="main-text">Links To Other Web Sites</h6>
						<p><span>Our Service may contain links to third­party web sites or services that are not owned or controlled by <span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span>.</span>
						</p>
						<p><span><span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong> <span>has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that</span>							<strong>Electroland Ghana Limited</strong></span> shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services
							available on or through any such web sites or services.</span>
						</p>
						<p><span>We strongly advise you to read the terms and conditions and privacy policies of any 3rd-Party web sites or services that you visit.</span></p>
						<hr />
						<h6 class="main-text">Images on Our Website Pages</h6>
						<p><span>Our Product images may</span> <strong><span style="color: #2c9ffd;">Differ from the real product on ground</span><span>, </span></strong><span>reason the source of manufacturing factory model.</span></p>
						<p><span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span> <span>has no control over, and assumes no responsibility for the content of the virtual images supplied by manufacturers, whereby as well will not hold responsibility if such inconvenience occurred.</span></p>
						<p><span>We strongly advise you to have a look on the real product to finalize your opinion.</span></p>
						<hr />
						<h6 class="main-text">Governing Law</h6>
						<p><span>These Terms shall be governed and construed in accordance with the laws of Ghana, without regard to its conflict of law provisions.</span></p>
						<p><span>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</span></p>
						<hr />
						<h6 class="main-text">Prices</h6>
						<p><span><span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span> reserve the right, at our sole discretion, to modify or replace Our Pricelist at any time without Prior notice as the need arises due to any urgency. What constitutes
							a material change will be determined at our sole discretion.</span>
						</p>
						<p><span>By continuing to access or use <span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span> Service after those changes / revisions become effective, you agree to be bound by the revised prices. If you do not agree to the
							new terms, please stop using the Service.</span>
						</p>
						<hr />
						<h6 class="main-text">Changes</h6>
						<p><span><span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span> reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 5 - 7days notice
							prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</span>
						</p>
						<p><span>By continuing to access or use <span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span> Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms,
							please stop using the Service.</span>
						</p>
						<hr/>
						<h6 class="main-text">Contact Us</h6>
						<p><span>If you have any questions about these Terms, please   </span> <a class="btn btn-outline-dark" href="locations">contact us</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>