<p class="marquee main-text">Sorry for any inconvenience caused, our website is still under-construction</p>
<!-- Home Image -->
<section id="Home-Alt" class="container-fluid home-large">
    <!-- Categories -->
    <div class="p-5">
        <div class="row justify-content-between" style="margin-bottom: 10%;">
            <div class="col-md-3 col-sm-12">
                <ul class="list-unstyled">
                    <?php
                    $category = $_GET['category'];
                    if (isset($category)) {
                        $count = 0;
                        foreach ($category as $key => $val) {
                            if ($count <= 3) {
                                echo '<li class="">
                                        <a class="selected btn btn-samsung mb-2 btn-block btn-lg main-text" href="category/' . $val['_id'] . '">' . $val['name'] . '</a>
                                    </li>';
                            }
                            if($count  == 3) {
                                echo '
                                        </ul>
                                    </div>
                        
                                    <div class="col-md-3 col-sm-12">
                                        <ul class="list-unstyled">';
                            }
                            if ($count >= 4 && $count < 8) {
                                echo '<li class="">
                                        <a class="selected btn btn-samsung mb-2 btn-block btn-lg main-text" href="category/' . $val['_id'] . '">' . $val['name'] . '</a>
                                    </li>';
                            }
                            $count++;
                        }
                    }

                    ?>
                <!-- </ul>
            </div>

            <div class="col-md-3 col-sm-12">
                <ul class="list-unstyled"> -->
                    <?php
                    // $categorys = $_GET['category'];
                    // if (isset($categorys)) {
                    //     $counts = 0;
                    //     foreach ($categorys as $key => $vals) {
                    //         if ($counts >= 4) {
                    //             echo '<li class="">
                    //                     <a class="selected btn btn-samsung mb-2 btn-block btn-lg main-text" href="category/' . $vals['_id'] . '">' . $val['name'] . '</a>
                    //                 </li>';
                    //             $counts++;
                    //         }
                    //     }
                    // }

                    ?>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Nav -->
<nav class="navbar navbar-expand-sm" style="position:relative; background: #252525; color: #f1f1f1;">
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars fa-2x text-white"></i>
    </button>

    <div class="collapse navbar-collapse"></div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto main-text text-uppercase">
            <li class="nav-item active">
                <a class="nav-link" href="brands">
                    Brands
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="products">
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="promotions">
                    Promotions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="corporate">
                    About Us
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="locations">
                    Contact Us
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="search" style="font-size: 16px;">
                    <i class="fas fa-search"></i>
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="cart" style="font-size: 16px; margin-left: -2px;">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="badge badge-pill badge-dark">{{cart.length}}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>


<!-- Search -->
<section class="container-fluid bg-white" hidden>
    <div class="container p-5">
        <div class="row no-gutters">
            <div class="col-md-6 col-sm-12 offset-md-3">
                <input class="form-control border-secondary border-right-0 rounded-0" type="search" value="Search for ..." id="home-search">
            </div>
            <div class="col-auto">
                <button class="btn border-left-0 rounded-0 rounded-right" type="button">
                    <i class="fa fa-2x fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- home view -->
<section id="Explore" class="clearfix bg-white">
    <div class="container">
        <div class="row pt-3 pb-3">
            <ul class="nav justify-content-center mt-3">
                <?php
                    $brands = $_GET['brands'];
                    if (isset($brands)) {
                        // print_r($brands);
                        $counter = 0;
                        foreach ($brands as $key => $value) {
                            // print_r($value);
                            // echo $value;
                            if ($counter <= 5) {
                                //For md (≥768px)	lg (≥992px)	xl (≥1200px)
                                echo '<li class="nav-item col d-none d-md-block content">
                                            <a href="brands/' . $value['name'] . '">
                                                <div class="content-overlay"></div>
                                                <img class="img-fluid" src="' . $_GET['imageurl'] . $value['logo'] . '" alt="samsung logo">
                                                <div class="content-details">
                                                    <img class="img-fluid" src="' . $_GET['imageurl'] . $value['banner'] . '" alt="' . $value['name'] . 'category image">
                                                </div>
                                            </a>
                                        </li>';

                                //For xs (<576px)	sm (≥576px)
                                echo '<li class="nav-item col-12 d-block d-md-none content">
                                            <a href="brands/' . $value['name'] . '">
                                                <div class="content-overlay"></div>
                                                <img class="img-fluid" src="' . $_GET['imageurl'] . $value['logo'] . '" alt="' . $value['name'] . ' logo">
                                                <div class="content-details">
                                                    <img class="img-fluid" src="' . $_GET['imageurl'] . $value['banner'] . '" alt="' . $value['name'] . ' category image">
                                                </div>
                                            </a>
                                        </li>';

                                //For md (≥768px)	lg (≥992px)	xl (≥1200px)
                                // echo '<li class="nav-item col d-none d-md-block content">
                                //             <a href="brands/'.$value['name'].'">
                                //                 <div class="content-overlay"></div>
                                //                 <img class="img-fluid" src="'.$_GET['imageurl'].$value['logo'].'" alt="'.$value['name'].'">
                                //                 <div class="content-details">
                                //                     <img class="img-fluid" src="'.$_GET['imageurl'].$value['banner'].'" alt="'.$value['name'].' category image">
                                //                 </div>
                                //             </a>
                                //         </li>';
                                $counter++;
                            }
                        }
                    }
                    // print_r($_GET['category']);
                ?>
            </ul>
        </div>
    </div>
</section>