<!-- Hero -->
<div id="Brand_Hero" class="">
  <img src="assets/img/location.jpg" class="card-img" alt="">
  <div class="card-img-overlay">
    <h1 class="main-text text-shadow"></h1>
    <p class=""></p>
  </div>
</div>

<!-- <div id="maplocation"></div> -->

<!-- Location -->
<section id="Location" class="container-fluid clearfix pt-5 pb-5" ng-controller="locationscontroller">
    <div class="container">
		<div class="mb-3 bg-white p-5">
			<div class="row">
				<div class="col-md-4">
					<div class="media">
						<i class="mr-2 far fa-2x fa-comments"></i>
						<div class="media-body">
							<h5 class="mt-0 main-text">Live Chat</h5>
							<p>Live Chat is available<br> Mon-Fri 8:00 AM - 18:00 PM</p>
							<a class="main-text h6 color-2 text-uppercase" href="javascript:void(0)">Start Chat <i class="fas fa-play-circle"></i></a>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="media">
						<i class="mr-2 far fa-2x fa-paper-plane"></i>
						<div class="media-body">
							<h5 class="mt-0 main-text">Email Support</h5>
							<p>Send an email,<br> and get a next response.</p>
							<a class="main-text h6 color-2 text-uppercase" href="javascript:void(0)" type="button" data-toggle="collapse" data-target="#contactToggleSupportEmails" aria-controls="contactToggleSupportEmails" aria-expanded="false" aria-label="Toggle navigation">Message Us <i class="fas fa-play-circle"></i></a> 
                        </div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="media">
						<i class="mr-2 fas fa-2x fa-phone"></i>
						<div class="media-body">
							<h5 class="mt-0 main-text">Phone Support</h5>
							<p>Call to speak to<br> a customer service rep.</p>
							<a class="main-text h6 color-2 text-uppercase" href="tel:+33-640-86-0057" rel="nofollow">Call Us <i class="fas fa-play-circle"></i></a>
						</div>
					</div>
				</div>
			</div>

			<!-- collapsed Content -->
			<div class="row">
				<div class="col">
					<div class="collapse" id="contactToggleSupportEmails">
						<ul class="nav justify-content-center mt-4">
							<li class="nav-item mr-1">
								<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#email_support" data-email="support@electrolandgh.com">support@electrolandgh.com</button>
							</li>
							<li class="nav-item mr-1">
								<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#email_support" data-email="sales@electrolandgh.com">sales@electrolandgh.com</button>
							</li>
							<li class="nav-item mr-1">
								<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#email_support" data-email="info@electrolandgh.com">info@electrolandgh.com</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

    	<div class="mb-3" hidden>
			<div class="row">
				<div id="" class="col-12">
					<iframe src="https://www.google.com/maps/d/embed?mid=1Nuu78ADybeqstAy_i6Uvkme-YXZLb7Ba" width="100%" height="580"></iframe>
				</div>
				<div class="col-12" hidden>
					<div id="maplocation" style="width: 100%; max-width: 100%; height: 500px;"></div>
				</div>
			</div>
		</div>

		<div class="mb-3 mt-5">
			<div class="row">
				<div class="col-12">
					<div class="storelocator" style="width: 100%; max-width: 100%; min-height: 600px;">
						<div class="storelocator-loader"></div>
						<div class="storelocator-sidebar">
							<form class="storelocator-formSearch">
							<input type="text" class="storelocator-inputSearch" placeholder="Enter a location" autocomplete="off" />
							</form>
							<nav class="storelocator-nav">
							<ul class="storelocator-navList">
								<li class="storelocator-navListItem active">
								<button class="storelocator-navButton" data-switch-view data-target="map">Map</button>
								</li>
								<li class="storelocator-navListItem">
								<button class="storelocator-navButton" data-switch-view data-target="list">List</button>
								</li>
							</ul>
							</nav>
							<div class="storelocator-sidebarResults"></div>
						</div>
						<div class="storelocator-googleMaps active">
							<div id="storelocator-googleMapsCanvas"></div>
							<button class="storelocator-geolocButton"></button>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row justify-content-center" hidden>
			<div class="col-md-3 mb-3" ng-repeat="b in branches" >
				<div class="bg-white">
					<img src="{{ imageurl + b.imageurl}}" class="card-img-top" alt="...">
					<div class="card-body">
					<h5 class="main-text">{{ b.name }}</h5>
					<address>
						<p>P: {{b.mobile}}</p>
						<p>E: {{b.email}}</p>
					</address>
					</div>
				</div>
			</div>
			<div class="col-md-3 mb-3" ng-hide="branches.length > 0">
				<div class="bg-white">
					<img src="assets/img/loca1.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					<h5 class="main-text">Ring Road Branch</h5>
					<address>
						<p>P: 0302211318</p>
						<p>E: sales@electrolandgh.com</p>
					</address>
					</div>
				</div>
			</div>

			<div class="col-md-3 mb-3" ng-hide="branches.length > 0">
				<div class="bg-white">
					<img src="assets/img/loca1.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					<h5 class="main-text">Spintex Road Branch</h5>
					<address>
						<p>P: 0205424243</p>
						<p>E: sales@electrolandgh.com</p>
					</address>
					</div>
				</div>
			</div>

			<div class="col-md-3 mb-3" ng-hide="branches.length > 0">
				<div class="bg-white">
					<img src="assets/img/loca1.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					<h5 class="main-text">Takoradi Branch</h5>
					<address>
						<p>P: 0302817555</p>
						<p>E: sales@electrolandgh.com</p>
					</address>
					</div>
				</div>
			</div>
			
			<div class="col-md-3 mb-3" ng-hide="branches.length > 0">
				<div class="bg-white">
					<img src="assets/img/loca1.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					<h5 class="main-text">Madina Road Branch</h5>
					<address>
						<p>P: 0244921991</p>
						<p>E: sales@electrolandgh.com</p>
					</address>
					</div>
				</div>
			</div>
		</div>

		<div class="row" ng-show="loader" hidden>
			<div class="col-12">
				<a class="btn btn-dark btn-block mt-2" ng-click="loadmore()" href="javascript:void(0)">View Other Branches</a>
			</div>
		</div>
   	</div>
</section>

<?php //print_r($_GET['locations']); ?>
