<!-- Promotions -->
<div class="modal fade" id="promotions_toggle_1" tabindex="-1" role="dialog" aria-labelledby="promotions_toggle_1Title" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-color-1">
        <h5 class="modal-title" id="exampleModalCenterTitle">Current Samsung Promotions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-gray">
        <div class="row">
          <div class="col-md-4">
						<div class="card">
							<div class="product-image text-center">
								<img src="assets/img/samsung/s10.png" class="card-img pic-1" alt="">
								<img src="assets/img/samsung/m5.png" class="card-img pic-2" alt="">
							</div>
							<div class="card-body">
								<!-- Sizing Chart -->
								<ul class="nav justify-content-center mb-3">
									<li class="nav-item">
										<a class="nav-link btn-dark btn-no-radius" href="#">42"</a>
									</li>
									<li class="nav-item">
										<a class="nav-link btn-outline-dark btn-no-radius" href="#">45"</a>
									</li>
									<li class="nav-item">
										<a class="nav-link btn-outline-dark btn-no-radius" href="#">74"</a>
									</li>
									<li class="nav-item">
										<a class="nav-link btn-outline-dark btn-no-radius" href="#">82"</a>
									</li>
								</ul>

								<!-- Product names -->
								<h4 class="main-text text-center">Product Name</h4>
								<p class="text-muted small text-center">SKU-NAS-06TL-987s</p>
								<hr>

								<!-- Features -->
								<ul class="text-muted text-justify-left small">
									<li>Real 8K Resolution</li>
									<li>8K AI Upscaling</li>
									<li>Quantum Processor 8K</li>
								</ul>

								<!-- Buttons -->
								<div class="text-center">
									<a href="product_featured" class="btn btn-block btn-dark mb-3">
									Learn More
									</a>
									<a href="javascript:void" class="underline text-muted">Where To buy</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card">
							<div class="product-image text-center">
								<img src="assets/img/samsung/s10.png" class="card-img pic-1" alt="">
								<img src="assets/img/samsung/m5.png" class="card-img pic-2" alt="">
							</div>
							<div class="card-body">
								<!-- Sizing Chart -->
								<ul class="nav justify-content-center mb-3">
									<li class="nav-item">
										<a class="nav-link btn-dark btn-no-radius" href="#">42"</a>
									</li>
									<li class="nav-item">
										<a class="nav-link btn-outline-dark btn-no-radius" href="#">45"</a>
									</li>
									<li class="nav-item">
										<a class="nav-link btn-outline-dark btn-no-radius" href="#">74"</a>
									</li>
									<li class="nav-item">
										<a class="nav-link btn-outline-dark btn-no-radius" href="#">82"</a>
									</li>
								</ul>

								<!-- Product names -->
								<h4 class="main-text text-center">Product Name</h4>
								<p class="text-muted small text-center">SKU-NAS-06TL-987s</p>
								<hr>

								<!-- Features -->
								<ul class="text-muted text-justify-left small">
									<li>Real 8K Resolution</li>
									<li>8K AI Upscaling</li>
									<li>Quantum Processor 8K</li>
								</ul>

								<!-- Buttons -->
								<div class="text-center">
									<a href="product_featured" class="btn btn-block btn-dark mb-3">
									Learn More
									</a>
									<a href="javascript:void" class="underline text-muted">Where To buy</a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card">
							<div class="product-image text-center">
								<img src="assets/img/samsung/s10.png" class="card-img pic-1" alt="">
								<img src="assets/img/samsung/m5.png" class="card-img pic-2" alt="">
							</div>
							<div class="card-body">
								<!-- Sizing Chart -->
								<ul class="nav justify-content-center mb-3">
									<li class="nav-item">
										<a class="nav-link btn-outline-dark btn-no-radius" href="#">42"</a>
									</li>
									<li class="nav-item">
										<a class="nav-link btn-outline-dark btn-no-radius" href="#">45"</a>
									</li>
									<li class="nav-item">
										<a class="nav-link btn-dark btn-no-radius" href="#">74"</a>
									</li>
									<li class="nav-item">
										<a class="nav-link btn-outline-dark btn-no-radius" href="#">82"</a>
									</li>
								</ul>

								<!-- Product names -->
								<h4 class="main-text text-center">Product Name</h4>
								<p class="text-muted small text-center">SKU-NAS-06TL-987s</p>
								<hr>

								<!-- Features -->
								<ul class="text-muted text-justify-left small">
									<li>Real 8K Resolution</li>
									<li>8K AI Upscaling</li>
									<li>Quantum Processor 8K</li>
								</ul>

								<!-- Buttons -->
								<div class="text-center">
									<a href="product_featured" class="btn btn-block btn-dark mb-3">
									Learn More
									</a>
									<a href="javascript:void" class="underline text-muted">Where To buy</a>
								</div>
							</div>
						</div>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>