<!-- Hero -->
<div id="Brand_Hero" class="">
  <img src="assets/img/promotions.jpg" class="card-img" alt="">
  <div class="card-img-overlay">
    <h1 class="main-text"></h1>
    <p class=""></p>
  </div>
</div>


<section id="Promotions" class="container-fluid clearfix pt-5 pb-5" ng-controller="promotioncontroller">
    <div class="container">
        <div class="row">

			<div class="col-md-4" ng-repeat="b in brands" ng-show="b.promotion">
				<div class="card inset_promo">
					<a href="#promotions_toggle_1" data-toggle="modal" data-target="#promotions_toggle_1" aria-controls="promotions_toggle_1" aria-expanded="false" ng-click="selectedbrand(b)">
				  		<img ng-src="{{imageurl + b.promotion_image}}" class="card-img" alt="...">
				  	</a>
				</div>
			</div>

		</div>

		<!-- Promotions -->
		<div class="modal fade" id="promotions_toggle_1" tabindex="-1" role="dialog" aria-labelledby="promotions_toggle_1Title" aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
				<div class="modal-content">
				<div class="modal-header bg-color-1">
					<h5 class="modal-title" id="exampleModalCenterTitle">Current {{brand.name.toUpperCase()}} Promotions</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body bg-gray">
					<div class="row">
						<div class="card-columns">
							<div class="card" ng-repeat="p in brand.products" ng-controller="productcardcontroller">
								<div class="text-center" ng-init="productData(p)">
									<img ng-src="{{ imageurl + product.promotion_image}}" class="card-img pic-1" onerror="this.src='assets/img/default/no-image.jpeg'" alt="">
									<img ng-src="{{ imageurl + product.imageurl}}" class="card-img pic-2" onerror="this.src='assets/img/default/no-image.jpeg'" alt="">
									<!-- <img ng-src="{{imageurl + p.images[0].imageurl}}" class="card-img pic-2" onerror="this.src='assets/img/default/no-image.jpeg'" alt=""> -->
								</div>
								<div class="card-body">
									<!-- Sizing Chart -->
									<ul class="nav justify-content-center mb-3" ng-class="">
										<li class="nav-item" ng-repeat="s in p.sizes">
											<a class="nav-link btn-no-radius" ng-class="{'btn-dark': s.code == product.code, 'text-white': s.code == product.code, 'btn-outline-dark': s.code != product.code }" ng-click="selectedSize(s)" ng-bind="s.name"></a>
										</li>
										<!-- <li class="nav-item" ng-repeat="s in p.sizes">
											<a class="nav-link btn-outline-dark btn-no-radius" ng-click="selectedSize(s)">{{s.name}}"</a>
										</li> -->
									</ul>

									<!-- Product names -->
									<h4 class="main-text text-center">{{product.name}}</h4>
									<p class="text-muted small text-center">{{product.code|uppercase}}</p>
									<h4 class="lead text-center">{{product.current_amount|currency:'GH₵ '}}</h4>
									<hr>

									<!-- Features -->
									<ul class="text-muted text-justify-left list-unstyled small">
										<li class="mt-1" ng-repeat="f in p.features | limitTo: 3 : 0" ng-bind="f.name"></li>
									</ul>

									<!-- Buttons -->
									<div class="text-center mt-3">
										<a href="products/{{product._id}}?code={{product.code}}" class="btn btn-block btn-dark mb-3">
											Learn More
										</a>
										<div class="btn-group special" role="group">
											<a href="javascript:void(0)" ng-click="addToCompare(product)" class="btn btn-block btn-outline-dark mt-3" ng-class="{'text-white': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
												Compare
											</a>
											<a href="javascript:void(0)" ng-click="addToCart(product)" class="btn btn-outline-dark mt-3" ng-class="{'text-white': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
												<i class="fas fa-2x fa-shopping-cart"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4" ng-repeat="p in brand.products" ng-controller="productcardcontroller" hidden>
							<div class="card">
								<div class="product-image text-center" ng-init="productData(p)">
									<img ng-src="{{imageurl + p.imageurl}}" class="card-img pic-1" onerror="this.src='assets/img/default/no-image.jpeg'" alt="">
									<img ng-src="{{imageurl + p.images[0].imageurl}}" onerror="this.src='assets/img/default/no-image.jpeg'" class="card-img pic-2" alt="">
								</div>
								<div class="card-body">
									<!-- Sizing Chart -->
									<ul class="nav justify-content-center mb-3" id="prod-types">
										<li class="nav-item" ng-repeat="s in p.sizes">
											<a class="nav-link btn-outline-dark btn-no-radius" ng-click="selectedSize(s)">{{s.name}}"</a>
										</li>
									</ul>

									<!-- Product names -->
									<h5 class="main-text text-center">{{product.name}}</h5>
									<p class="text-muted small text-center">{{product.code|uppercase}}</p>
									<hr>

									<!-- Features -->
									<ul class="text-muted text-justify-left small">
										<li ng-repeat="f in p.features | limitTo: 3 : 0">{{f.name}}</li>
										<!-- <li ng-bind-html="product.short_description"></li>
										<li>8K AI Upscaling</li>
										<li>Quantum Processor 8K</li> -->
									</ul>

									<!-- Buttons -->
									<div class="text-center">
										<a href="products/{{product._id}}?code={{product.code}}" class="btn btn-block btn-dark mb-3">
										Learn More
										</a>
										<!-- <a href="" class="underline text-muted">Where To buy</a> -->
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 d-none">
							<div class="card">
								<div class="product-image text-center">
									<img src="assets/img/samsung/s10.png" class="card-img pic-1" alt="">
									<img src="assets/img/samsung/m5.png" class="card-img pic-2" alt="">
								</div>
								<div class="card-body">
									<!-- Sizing Chart -->
									<ul class="nav justify-content-center mb-3">
										<li class="nav-item">
											<a class="nav-link btn-dark btn-no-radius" href="#">42"</a>
										</li>
										<li class="nav-item">
											<a class="nav-link btn-outline-dark btn-no-radius" href="#">45"</a>
										</li>
										<li class="nav-item">
											<a class="nav-link btn-outline-dark btn-no-radius" href="#">74"</a>
										</li>
										<li class="nav-item">
											<a class="nav-link btn-outline-dark btn-no-radius" href="#">82"</a>
										</li>
									</ul>

									<!-- Product names -->
									<h4 class="main-text text-center">Product Name</h4>
									<p class="text-muted small text-center">SKU-NAS-06TL-987s</p>
									<hr>

									<!-- Features -->
									<ul class="text-muted text-justify-left small">
										<li>Real 8K Resolution</li>
										<li>8K AI Upscaling</li>
										<li>Quantum Processor 8K</li>
									</ul>

									<!-- Buttons -->
									<div class="text-center">
										<a href="product_featured" class="btn btn-block btn-dark mb-3">
										Learn More
										</a>
										<a href="javascript:void" class="underline text-muted">Where To buy</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
    </div>
</section>


<?php // print_r($_GET['brands']);?>
