<!-- Hero -->
<div id="Brand_Hero" class="">
  <img src="assets/img/cats/free.jpg" class="card-img" alt="">
  <div class="card-img-overlay">
    <h1 class="main-text"></h1>
    <p class=""></p>
  </div>
</div>


<!-- Support -->
<section id="Support" class="container-fluid clearfix no-gutters">
    <div class="container bg-white p-3 mt-3">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active main-text" id="v-pills-24hrs-tab" data-toggle="pill" href="#v-pills-24hrs" role="tab" aria-controls="v-pills-24hrs" aria-selected="true">24 Hours</a>
                <a class="nav-link main-text" id="v-pills-pay-tab" data-toggle="pill" href="#v-pills-pay" role="tab" aria-controls="v-pills-pay" aria-selected="false">Hire Purchase</a>
                <a class="nav-link main-text" id="v-pills-support-tab" data-toggle="pill" href="#v-pills-support" role="tab" aria-controls="v-pills-support" aria-selected="false">Tech Support</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-24hrs" role="tabpanel" aria-labelledby="v-pills-24hrs-tab">
                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vitae molestias quod id doloremque inventore ab cupiditate repellendus pariatur. Repudiandae, eligendi beatae illo provident nostrum ad rem labore placeat voluptatum!</p> -->
                    </div>
                    <div class="tab-pane fade" id="v-pills-pay" role="tabpanel" aria-labelledby="v-pills-pay-tab">
                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vitae molestias quod id doloremque inventore ab cupiditate repellendus pariatur. Repudiandae, eligendi beatae illo provident nostrum ad rem labore placeat voluptatum!</p> -->
                    </div>
                    <div class="tab-pane fade" id="v-pills-support" role="tabpanel" aria-labelledby="v-pills-support-tab">
                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vitae molestias quod id doloremque inventore ab cupiditate repellendus pariatur. Repudiandae, eligendi beatae illo provident nostrum ad rem labore placeat voluptatum!</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<?php // print_r($_GET['brands']);?>
