<div class="col-md-3">
    <div class="bg-white">
        <article class="filter-group">
            <header class="card-header bg-dark text-white"> 
                <a href="#" data-toggle="collapse" data-target="#collapse_fliters" data-abc="true" aria-expanded="false" class="collapsed"> 
                    <i class="icon-control fas fa-chevron-down"></i>
                    <h6 class="main-text">Filter Results</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_fliters" style="">
                <div class="card-body"> 
                    <label class="custom-control" ng-repeat="c in fliters"> 
                        <input type="checkbox" class="custom-control-input">
                        <div class="custom-control-label">
                            {{c.name | capitalize}} <span class="badge badge-primary">0</span>
                        </div> 
                    </label>
                </div>
            </div>
        </article>
        <article class="filter-group">
            <header class="card-header bg-dark text-white"> 
                <a href="#" data-toggle="collapse" data-target="#collapse_aside1" data-abc="true" aria-expanded="false" class="collapsed"> 
                    <i class="icon-control fas fa-chevron-down"></i>
                    <h6 class="main-text">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_aside1" style="">
                <div class="card-body"> 
                    <label class="custom-control" ng-repeat="c in cats"> 
                        <input type="checkbox" class="custom-control-input" ng-click="getProduct(c)">
                        <div class="custom-control-label">
                            {{c.name | capitalize}} <span class="badge badge-primary">{{c.products.length}}</span>
                        </div> 
                    </label>
                </div>
            </div>
        </article>
        <article class="filter-group" hidden>
            <header class="card-header bg-dark text-white"> 
                <a href="#" data-toggle="collapse" data-target="#collapse_aside5" data-abc="true" aria-expanded="false" class="collapsed"> 
                    <i class="icon-control fas fa-chevron-down"></i>
                    <h6 class="main-text">Brands</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_aside5" style="">
                <div class="card-body text-uppercase">
                    <label class="custom-control" ng-repeat="b in bras"> 
                        <input type="checkbox" class="custom-control-input">
                        <div class="custom-control-label">{{b.name}}</div> 
                    </label> 
                </div>
            </div>
        </article>
        <article class="filter-group">
            <header class="card-header bg-dark text-white"> 
                <a href="#" data-toggle="collapse" data-target="#collapse_compare" data-abc="true" aria-expanded="false" class="collapsed"> 
                    <i class="icon-control fas fa-chevron-down"></i>
                    <h6 class="main-text">Compare <span class="badge badge-primary">{{compare.length}}</span></h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_compare" style="">
                <div class="card-body"> 
                    <label class="custom-control" ng-repeat="c in compare"> 
                        <input type="radio" class="custom-control-input" ng-click="remove(c)">
                        <div class="custom-control-label">
                            {{ c.name | uppercase }} <span class="badge badge-primary" ng-click="remove(c)">remove</span>
                        </div> 
                    </label>
                    <ul class="nav justify-content-center mt-5 mb-5">
                        <li class="nav-item" ng-show="compare.length > 0">
                            <a class="nav-link main-text btn-block btn btn-outline-dark" href="compare">
                                View  <i class="far fa-eye"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
        <article class="filter-group" hidden>
            <header class="card-header bg-dark text-white"> 
                <a href="#" data-toggle="collapse" data-target="#collapse_aside2" data-abc="true" aria-expanded="false" class="collapsed"> 
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="main-text">Price </h6>
                </a> 
            </header>
            <div class="filter-content collapse" id="collapse_aside2" style="">
                <div class="card-body"> 
                    <input type="text" class="js-range-slider" name="my_range" value=""/> 
                </div>
            </div>
        </article>
        <article class="filter-group" hidden>
            <header class="card-header bg-dark text-white"> 
                <a href="#" data-toggle="collapse" data-target="#collapse_aside3" data-abc="true" aria-expanded="false" class="collapsed"> 
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="main-text">Size </h6>
                </a> 
            </header>
            <div class="filter-content collapse" id="collapse_aside3" style="">
                <div class="card-body text-uppercase"> 
                    <label class="custom-control"> 
                        <input type="checkbox" class="custom-control-input">
                        <div class="custom-control-label btn btn-dark">xs </div> 
                    </label> 
                    <label class="custom-control"> 
                        <input type="checkbox" class="custom-control-input">
                        <div class="custom-control-label btn btn-dark">s </div> 
                    </label>
                    <label class="custom-control"> 
                        <input type="checkbox" class="custom-control-input">
                        <div class="custom-control-label btn btn-dark">m </div> 
                    </label>
                    <label class="custom-control"> 
                        <input type="checkbox" class="custom-control-input">
                        <div class="custom-control-label btn btn-dark">l </div> 
                    </label>
                    <label class="custom-control"> 
                        <input type="checkbox" class="custom-control-input">
                        <div class="custom-control-label btn btn-dark">xl </div> 
                    </label><label class="custom-control"> 
                        <input type="checkbox" class="custom-control-input">
                        <div class="custom-control-label btn btn-dark">xxl </div> 
                    </label>
                </div>
            </div>
        </article>
        <article class="filter-group" hidden>
            <header class="card-header bg-dark text-white"> 
                <a href="#" data-toggle="collapse" data-target="#collapse_aside4" data-abc="true" class="collapsed" aria-expanded="false"> 
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="main-text">Color </h6>
                </a> 
            </header>
            <div class="filter-content collapse" id="collapse_aside4" style="">
                <div class="card-body"> 
                    <label class="custom-control"> 
                        <input type="checkbox" class="custom-control-input">
                        <div class="custom-control-label">Silver</div>
                    </label> 
                    <label class="custom-control"> 
                        <input type="checkbox" class="custom-control-input">
                        <div class="custom-control-label">White </div>
                    </label> 
                    <label class="custom-control"> 
                        <input type="checkbox" class="custom-control-input">
                        <div class="custom-control-label">Black</div>
                    </label> 
                    <label class="custom-control"> 
                        <input type="checkbox" class="custom-control-input">
                        <div class="custom-control-label">Grey</div>
                    </label> 
                </div>
            </div>
        </article>
    </div>
</div>