<section id="Compare" class="cd-products-comparison-table container-fluid bg-white pt-5 pb-5">
    <header class="container-fluid p-5">
        <div class="row">
            <div class="col">
                <!-- <h4 class="lead">Search or select for product to compare. Maximum of 4 products.</h4> -->
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-md-6">
                <!-- <form class="searchbar">
                    <input type="search" placeholder="Search here" name="search" class="searchbar-input" onkeyup="buttonUp();" required>
                    <input type="submit" class="searchbar-submit" value="GO">
                    <span class="searchbar-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </form> -->
            </div>
            <div class="col-md-3 pull-right">
                <div class="actions">
                    <a href="javascript:void(0)" ng-click="reset()" class="btn btn-dark reset">Reset</a>
                    <!-- <a href="javascript:void(0)" class="btn btn-samsung filter">Compare</a> -->
                </div>
            </div>
        </div>
    </header>

    <div class="cd-products-table">
        <div class="features">
            <div class="top-info">Models</div>
            <ul class="cd-features-list main-text">
                <li>SKU</li>
                <li>Name</li>
                <li>Price</li>
                <li>Description</li>
                <li>Features</li>
                <li>Specs</li>
                <li>Sizes</li>
            </ul>
        </div> <!-- .features -->

        <div class="cd-products-wrapper">
            <ul class="cd-products-columns">
                <li class="product" ng-repeat="c in compare">
                    <div class="top-info">
                        <div class="check"></div>
                        <img class="img-fluid" src="{{imageurl + c.imageurl}}" onerror="this.src='assets/img/default/no-image.jpeg'" alt="{{c.name}}">
                    </div> <!-- .top-info -->

                    <ul class="cd-features-list">
                        <li>{{c.code}}</li>
                        <li>{{c.name}}</li>
                        <li>{{c.current_amount|currency:'GHS '}}</li>
                        <li ng-bind-html="c.short_description"></li>
                        <li><p ng-repeat="f in c.features">{{f.name}}</p></li>
                        <li><p ng-repeat="p in c.specs">{{p.name}}</p></li>
                        <li><p ng-repeat="s in c.sizes">{{s.name}}</p></li>
                    </ul>
                </li> <!-- .product -->

            </ul> <!-- .cd-products-columns -->
        </div> <!-- .cd-products-wrapper -->

        <ul class="cd-table-navigation">
            <li><a href="#0" class="prev inactive">Prev</a></li>
            <li><a href="#0" class="next">Next</a></li>
        </ul>
    </div> <!-- .cd-products-table -->
</section>
