<section id="Explore" class="container-fluid clearfix">
    <div class="p-3">
        <div class="row">
            <!-- Left Filters -->
            <div class="col-md-3">
                <div class="bg-white">
                </div>
            </div>

            <!-- Listed Products -->
            <div class="col-md-9">
                <!-- 1st product row -->
                <div class="row">
                    <div class="col-md-4 relPos">
                        <div class="card selectProduct" data-title="Samsung" data-id="Product 1" data-size="5.7"" data-weight=" 178 g" data-processor="1.55 GHz, Octa Core, Qualcomm Snapdragon 810 " data-battery="3450 mAH">
                            <div class="text-center">
                                <img src="assets/img/samsung/s10.png" class="card-img pic-1 productImg" alt="">
                                <img src="assets/img/samsung/m5.png" class="card-img pic-2" alt="">
                            </div>
                            <div class="card-body">
                                <!-- Sizing Chart -->
                                <ul id="prod-types" class="visible nav justify-content-center mb-3">
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-dark btn-no-radius" href="#">42"</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-dark btn-no-radius" href="#">45"</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-dark btn-no-radius" href="#">74"</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-dark btn-no-radius" href="#">82"</a>
                                    </li>
                                </ul>

                                <!-- Product names -->
                                <h4 class="main-text text-center">Product Name</h4>
                                <p class="text-muted small text-center">SKU-NAS-06TL-987s</p>
                                <hr>

                                <!-- Features -->
                                <ul class="text-muted text-justify-left list-unstyled">
                                    <li>Real 8K Resolution</li>
                                    <li>8K AI Upscaling</li>
                                    <li>Quantum Processor 8K</li>
                                </ul>

                                <!-- Buttons -->
                                <div class="text-center">
                                    <a href="product_featured" class="btn btn-block btn-dark mt-3">
                                        Learn More
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-block btn-outline-dark mt-3 addToCompare">
                                        Compare
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 relPos">
                        <div class="card selectProduct" data-title="Nasco" data-id="Product 2" data-size="5.7"" data-weight=" 178 g" data-processor="1.55 GHz, Octa Core, Qualcomm Snapdragon 810 " data-battery="3450 mAH">
                            <div class="text-center">
                                <img src="assets/img/samsung/s10.png" class="card-img pic-1 productImg" alt="">
                                <img src="assets/img/samsung/m5.png" class="card-img pic-2" alt="">
                            </div>
                            <div class="card-body">
                                <!-- Sizing Chart -->
                                <ul id="prod-types" class="visible nav justify-content-center mb-3">
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-dark btn-no-radius" href="#">42"</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-dark btn-no-radius" href="#">45"</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-dark btn-no-radius" href="#">74"</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-dark btn-no-radius" href="#">82"</a>
                                    </li>
                                </ul>

                                <!-- Product names -->
                                <h4 class="main-text text-center">Product Name</h4>
                                <p class="text-muted small text-center">SKU-NAS-06TL-987s</p>
                                <hr>

                                <!-- Features -->
                                <ul class="text-muted text-justify-left list-unstyled">
                                    <li>Real 8K Resolution</li>
                                    <li>8K AI Upscaling</li>
                                    <li>Quantum Processor 8K</li>
                                </ul>

                                <!-- Buttons -->
                                <div class="text-center">
                                    <a href="product_featured" class="btn btn-block btn-dark mt-3">
                                        Learn More
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-block btn-outline-dark mt-3 addToCompare">
                                        Compare
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 relPos">
                        <div class="card selectProduct" data-title="Toshiba" data-id="Product 3" data-size="5.7"" data-weight=" 178 g" data-processor="1.55 GHz, Octa Core, Qualcomm Snapdragon 810 " data-battery="3450 mAH">
                            <div class="text-center">
                                <img src="assets/img/samsung/s10.png" class="card-img pic-1 productImg" alt="">
                                <img src="assets/img/samsung/m5.png" class="card-img pic-2" alt="">
                            </div>
                            <div class="card-body">
                                <!-- Sizing Chart -->
                                <ul id="prod-types" class="visible nav justify-content-center mb-3">
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-dark btn-no-radius" href="#">42"</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-dark btn-no-radius" href="#">45"</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-dark btn-no-radius" href="#">74"</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-dark btn-no-radius" href="#">82"</a>
                                    </li>
                                </ul>

                                <!-- Product names -->
                                <h4 class="main-text text-center">Product Name</h4>
                                <p class="text-muted small text-center">SKU-NAS-06TL-987s</p>
                                <hr>

                                <!-- Features -->
                                <ul class="text-muted text-justify-left list-unstyled">
                                    <li>Real 8K Resolution</li>
                                    <li>8K AI Upscaling</li>
                                    <li>Quantum Processor 8K</li>
                                </ul>

                                <!-- Buttons -->
                                <div class="text-center">
                                    <a href="product_featured" class="btn btn-block btn-dark mt-3">
                                        Learn More
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-block btn-outline-dark mt-3 addToCompare">
                                        Compare
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 relPos">
                        <div class="card selectProduct" data-title="Philips" data-id="Product 4" data-size="5.7"" data-weight=" 178 g" data-processor="1.55 GHz, Octa Core, Qualcomm Snapdragon 810 " data-battery="3450 mAH">
                            <div class="text-center">
                                <img src="assets/img/samsung/s10.png" class="card-img pic-1 productImg" alt="">
                                <img src="assets/img/samsung/m5.png" class="card-img pic-2" alt="">
                            </div>
                            <div class="card-body">
                                <!-- Sizing Chart -->
                                <ul id="prod-types" class="visible nav justify-content-center mb-3">
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-dark btn-no-radius" href="#">42"</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-dark btn-no-radius" href="#">45"</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-dark btn-no-radius" href="#">74"</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-dark btn-no-radius" href="#">82"</a>
                                    </li>
                                </ul>

                                <!-- Product names -->
                                <h4 class="main-text text-center">Product Name</h4>
                                <p class="text-muted small text-center">SKU-NAS-06TL-987s</p>
                                <hr>

                                <!-- Features -->
                                <ul class="text-muted text-justify-left list-unstyled">
                                    <li>Real 8K Resolution</li>
                                    <li>8K AI Upscaling</li>
                                    <li>Quantum Processor 8K</li>
                                </ul>

                                <!-- Buttons -->
                                <div class="text-center">
                                    <a href="product_featured" class="btn btn-block btn-dark mt-3">
                                        Learn More
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-block btn-outline-dark mt-3 addToCompare">
                                        Compare
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Page Pagination -->
                <ul class="nav justify-content-center mt-5 mb-5">
                    <li class="nav-item">
                        <a class="nav-link main-text btn-block btn btn-outline-dark" href="#">
                            Load More <i class="far fa-eye"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<!--preview panel-->
<div class="comparePanle">
    <div class="container p-5">
        <div class="row justify-content-between">
            <div class="col-md-3 col-sm-12">
                <h4>Compare Products</h4>
            </div>
            <div class="col-md-2 col-sm-12">
                 
                <button class="btn btn-dark notActive cmprBtn" disabled>Compare</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="titleMargin row comparePan">
        </div>
    </div>
</div>
<!--end of preview panel-->


<!-- comparision popup-->
<div id="id01" class="modal modPos bg-white">
    <div class="container">
        <a onclick="document.getElementById('id01').style.display='none'" class="btn btn-danger text-white" data-dismiss="modal">Close</a>
    </div>
    <div class="row contentPop mt-3">
    </div>

</div>
<!--end of comparision popup-->



<!--  warning model  -->
<div class="modal fade" id="WarningModal" tabindex="-1" role="dialog" aria-labelledby="WarningModalLabel" aria-hidden="true">
    <div class="modal-dialog warningModal" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4>Maximum of Three products are allowed for comparision</h4>
            </div>
            <div class="modal-footer">
                <button id="warningModalClose" onclick="document.getElementById('id01').style.display='none'" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  end of warning model  -->