<?php  $product = $_GET['product']; ?>
<div class="mt-2 bg-white" ng-controller="productcontroller">
    <section id="Product_Single" class="clearfix bg-white">
        <div class="container pb-5 mt-5">
            <div class="row">
                <!-- Image Preview -->
                <div class="col-md-8 mt-5">
                    <div id="single-product-slider" class="carousel slide" data-ride="carousel">
                        <div class="row">
                            <div class="col-md-11 order-sm-1">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <!-- <img ng-src="{{imageurl + product.imageurl}}" onerror="this.src='assets/img/default/no-image.jpeg'" class="d-block w-100" alt="Preview image"> -->
                                        <?php echo '<img src="'.$_GET['imageurl'].$product['imageurl'].'" onerror="this.src=assets/img/default/no-image.jpeg" class="d-block w-100" alt="Preview image">'; ?>
                                        <!-- <img src="assets/img/tv5.png" class="d-block w-100" alt="..."> -->
                                    </div>
                                    <?php
                                        if ($product['images']) {
                                            foreach ($product['images'] as $keys => $val) {
                                                echo ' <div class="carousel-item">
                                                            <img src="'.$_GET['imageurl'].$val['imageurl'].'" class="d-block w-100" alt="...">
                                                        </div>';
                                            }
                                        }
                                    ?>
                                </div>
                                <a class="carousel-control-prev" href="#single-product-slider" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#single-product-slider" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="col-md-1 order-sm-0">
                                <ol class="carousel-indicators">
                                    <li class="active" data-slide-to="0" data-target="#single-product-slider">
                                        <?php 
                                            echo '<img class="img-fluid" src="'.$_GET['imageurl'].$product['imageurl'].'">'; 
                                        ?>
                                        <!-- <img class="img-fluid" src="assets/img/tv5.png"> -->
                                    </li>
                                    <?php
                                        if ($product['images']) {
                                            $count = 1;
                                            foreach ($product['images'] as $keys => $val) {
                                                echo '<li data-slide-to="'.$count.'" data-target="#single-product-slider">
                                                        <img class="img-fluid" src="'.$_GET['imageurl'].$val['imageurl'].'" alt="...">
                                                    </li>';
                                                $count++;
                                            }
                                        }
                                    ?>
                                    
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Specs -->
                <div class="col-md-4">
                    <div class="row mt-5">
                        <div class="col-md-12">

                            <!-- Product names -->
                            <h2 class="main-text text-justify-left mt-5">{{product.name}}</h2>

                            <!-- Sizing Chart -->
                            <ul id="prod-types" class="visible nav justify-content-center mb-3">
                                <li class="nav-item" ng-repeat="s in product.sizes">
                                    <a class="nav-link btn-no-radius" ng-class="{'btn-dark': s.code == product.code, 'text-white': s.code == product.code, 'btn-outline-dark': s.code != product.code }" ng-click="selectedSize(s)" ng-bind="s.name"></a>
                                </li>
                            </ul>

                            
                            <p class="text-muted small text-center">{{product.code}}</p>
                            <h4 class="lead text-center">{{product.current_amount|currency:'GH₵ '}}</h4>
                            <hr>

                            <!-- Features -->
                            <ul class="text-muted text-justify-left list-unstyled">
                             <?php
                                    echo html_entity_decode($product['short_description']);
                                ?>
                            </ul>
                            
                            <a href="cart" ng-click="addToCart(product)" class="btn btn-block btn-dark mt-5">
                                Buy Now
                            </a>

                            <div class="btn-group special" role="group">
                                <a href="javascript:void(0)" ng-click="addToCompare(product)" class="btn btn-block btn-outline-dark mt-3" ng-class="{'text-white': hover}"  ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                                    Compare
                                </a>
                                <a href="javascript:void(0)" ng-click="addToCart(product)" class="btn btn-outline-dark mt-3" ng-class="{'text-white': hover}"  ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                                        <i class="fas fa-2x fa-shopping-cart"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="Specs" class="sub-nav-hero clearfix bg-white">
        <div class="container pb-5">
            <div class="row">
                <?php
                $count = 0;
                // if (isset($product['features'])) {
                //     foreach ($product['features'] as $keys => $val) {
                //         if ($count > 4 && isset($val['icon'])) {
                //             echo '<div class="col-md-3">
                //                         <img class="icon" src="' . $_GET['imageurl'] . $val['imageurl'] . '">
                //                         <p class="">' . $val['name'] . '</p>
                //                     </div>';
                //         }
                //     }
                // }
                ?>

                <div class="col-md-3" ng-repeat="f in product.features | limitTo: 4 : 0">
                    <img class="icon" ng-src="{{imageurl + f.icon}}">
                    <p class="">{{f.name}}</p>
                </div>
                <!-- <div class="col-md-3" ng-hide="product.features.length != 0">
                    <img class="icon" src="assets/img/icon1.svg">
                    <p class="">Feature 1</p>
                </div>
                <div class="col-md-3" ng-hide="product.features.length === 0">
                    <img class="icon" src="assets/img/icon2.svg">
                    <p class="">Feature 2</p>
                </div>
                <div class="col-md-3" ng-hide="product.features.length ==== 0">
                    <img class="icon" src="assets/img/icon3.svg">
                    <p class="">Feature 3</p>
                </div>
                <div class="col-md-3" ng-hide="product.features.length === 0">
                    <img class="icon" src="assets/img/icon4.svg">
                    <p class="">Feature 4</p>
                </div> -->
            </div>
        </div>
    </section>

    <!-- <section id="Benefits" class="container-fluid clearfix bg-black">
        <div class="mb-5">   
            <h1 class="main-text display-3">QLED Smart features All in one with OneRemote.</h1>
            <p class="lead main-text">The sleek and slim OneRemote automatically detects and controls all compatible connected devices and content.</p>
        </div>
        <div class="row">
            <div class="col-md-12 no-gutters">
                <img class="img-fluid" src="assets/img/remote_features.jpg" alt="">
            </div>
        </div>
    </section> -->

    <section id="Accessories" class="container-fluid clearfix bg-white">
        <div class="text-center">
            <h1 class="main-text display-3">Features</h1>
            <p class="mb-5 lead main-text">

                <?php
                // echo html_entity_decode($product['description']);
                ?>
            </p>
            <p></p>
        </div>
        <div ng-repeat="f in product.features">
            <div class="row no-gutters" ng-if="$odd">
                <!-- Image -->
                <div class="col-md-6" style="width: 100%;
                    padding: 200px;
                    background-attachment:fixed;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.2) 100%), 
                    url('{{imageurl + f.imageurl}}') no-repeat center;
                    ">
                </div>

                <!-- Feature Text -->
                <div class="col-md-6">
                    <div class="sub-hero-text">
                        <h1 class="main-text display-4" ng-bind="f.name"></h1>
                        <p class="main-text lead" ng-bind-html="f.description"></p>
                        <!-- <p>this wouldn't show if a feature is added for this product, it's just for you to see the layout.</p> -->
                        <!-- <button type="button" class="btn btn-outline-dark text-uppercase">See Matching Soundbar</button> -->
                    </div>
                </div>
            </div>
            <div class="row no-gutters" ng-if="$even">
                <!-- Feature Text -->
                <div class="col-md-6">
                    <div class="sub-hero-text">
                        <h1 class="main-text display-4" ng-bind="f.name"></h1>
                        <!-- <p class="main-text lead">Smart Speakers</p> -->
                        <p class="main-text lead" ng-bind-html="f.description"></p>
                    </div>
                </div>

                <!-- Image -->
                <div class="col-md-6" style="width: 100%;
                    padding: 200px;
                    background-attachment:fixed;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.2) 100%), 
                    url('{{imageurl + f.imageurl}}') no-repeat center;
                    ">
                </div>
            </div>
        </div>
    </section>


    <?php require_once('specs.phtml') ?>

</div>

<?php // print_r($_GET['product']); 
?>