<!-- Hero -->
<div id="Brand_Hero" class="">
	<img src="assets/img/brand.jpg" class="card-img" alt="">
	<div class="card-img-overlay">
		<h1 class="main-text"></h1>
		<p class=""></p>
	</div>
</div>


<section id="Explore" class="container-fluid clearfix" ng-controller="productscontroller">
	<div class="p-3">
		<div class="row">
			<!-- Left Filters -->
			<?php require('filter.phtml') ?>

			<!-- Listed Products -->
			<div class="col-md-9">
				<!-- Stack Category Title -->
				<div class="row" ng-show="products.length > 0">
					<div class="col-12">
						<nav aria-label="breadcrumb" class="bg-white main-text">
							<form class="navbar-form navbar-right navbar-form-search" role="search">
								<div class="search-form-container hdn" id="search-input-container">
									<div class="search-input-group">
										<button type="button" class="btn btn-default" id="hide-search-input-container"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></button>
										<div class="form-group">
										<input type="text" class="form-control" placeholder="Search for...">
										</div>
									</div>
								</div>
								
								<button type="submit" class="btn btn-default" id="search-button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
							</form>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">Home</li>
								<li class="breadcrumb-item samsung" aria-current="page">Products</li>
								<li class="breadcrumb-item"><a class="badge badge-dark text-white rounded-">All</a></li>
							</ol>
						</nav>
					</div>
				</div>

				<!-- 1st product row -->
				<div class="row">

					<div class="card-columns">
						<div class="card" ng-repeat="p in products | limitTo: count:0" ng-controller="productcardcontroller">
							<div class="text-center" ng-init="productData(p)">
								<img ng-src="{{ imageurl + product.imageurl}}" class="card-img pic-1" onerror="this.src='assets/img/default/no-image.jpeg'" alt="">
								<img ng-src="{{imageurl + p.images[0].imageurl}}" class="card-img pic-2" onerror="this.src='assets/img/default/no-image.jpeg'" alt="">
							</div>
							<div class="card-body">
								<!-- Sizing Chart -->
								<ul class="nav justify-content-center mb-3" ng-class="">
									<li class="nav-item" ng-repeat="s in p.sizes">
										<a class="nav-link btn-no-radius" ng-class="{'btn-dark': s.code == product.code, 'text-white': s.code == product.code, 'btn-outline-dark': s.code != product.code }" ng-click="selectedSize(s)" ng-bind="s.name"></a>
									</li>
									<!-- <li class="nav-item" ng-repeat="s in p.sizes">
										<a class="nav-link btn-outline-dark btn-no-radius" ng-click="selectedSize(s)">{{s.name}}"</a>
									</li> -->
								</ul>

								<!-- Product names -->
								<h4 class="main-text text-center" ng-class="{'mt-5': p.sizes.length == 0 }">{{product.name}}</h4>
								<p class="text-muted small text-center">{{product.code|uppercase}}</p>
								<h4 class="lead text-center" ng-class="{'mb-5': product.name.length <= 20 && p.sizes.length == 0}">{{product.current_amount|currency:'GH₵ '}}</h4>
								<hr>

								<!-- Features -->
								<ul class="text-muted text-justify-left list-unstyled small">
									<li class="mt-1" ng-repeat="f in p.features | limitTo: 3 : 0" ng-bind="f.name"></li>
								</ul>

								<!-- Buttons -->
								<div class="text-center mt-3">
									<a href="products/{{product._id}}?code={{product.code}}" class="btn btn-block btn-dark mb-3">
										Learn More
									</a>
									<div class="btn-group special" role="group">
										<a href="javascript:void(0)" ng-click="addToCompare(product)" class="btn btn-block btn-outline-dark mt-3" ng-class="{'text-white': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
											Compare
										</a>
										<a href="javascript:void(0)" ng-click="addToCart(product)" class="btn btn-outline-dark mt-3" ng-class="{'text-white': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
											<i class="fas fa-2x fa-shopping-cart"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-4 relPos" ng-repeat="p in products | limitTo: count:0" ng-controller="productcardcontroller" hidden>
						<div class="card w-100">
							<div class="text-center" ng-init="productData(p)">
								<img ng-src="{{ imageurl + product.imageurl}}" class="card-img pic-1" onerror="this.src='assets/img/default/no-image.jpeg'" alt="">
								<img ng-src="{{imageurl + p.images[0].imageurl}}" class="card-img pic-2" onerror="this.src='assets/img/default/no-image.jpeg'" alt="">
							</div>
							<div class="card-body">
								<!-- Sizing Chart -->
								<ul class="nav justify-content-center mb-3" ng-class="">
									<li class="nav-item" ng-repeat="s in p.sizes">
										<a class="nav-link btn-no-radius" ng-class="{'btn-dark': s.code == product.code, 'text-white': s.code == product.code, 'btn-outline-dark': s.code != product.code }" ng-click="selectedSize(s)" ng-bind="s.name"></a>
									</li>
								</ul>

								<!-- Product names -->
								<h4 class="main-text text-center">{{product.name}}</h4>
								<p class="text-muted small text-center">{{product.code|uppercase}}</p>
								<h4 class="lead text-center">{{product.current_amount|currency:'GH₵ '}}</h4>
								<hr>

								<!-- Features -->
								<ul class="text-muted text-justify-left list-unstyled small">
									<li class="mt-2" ng-repeat="f in p.features | limitTo: 3 : 0" ng-bind="f.name"></li>
									<!-- <li>8K AI Upscaling</li>
									<li>Quantum Processor 8K</li> -->
								</ul>

								<!-- Buttons -->
								<div class="text-center">
									<a href="products/{{product._id}}?code={{product.code}}" class="btn btn-block btn-dark mb-3">
										Learn More
									</a>
									<a ng-click="addToCompare(product)" class="btn btn-block btn-outline-dark mt-3" ng-class="{'text-white': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
										Compare
									</a>
									<!-- <a href="" class="underline text-muted">Where To buy</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Page Pagination -->
				<ul class="nav justify-content-center mt-10 mb-5">
					<li class="nav-item" ng-show="loader && products.length > 0">
						<a class="nav-link main-text btn-block btn btn-outline-dark" ng-click="loadmore()" ng-class="{'text-white': hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
							Load More <i class="far fa-eye"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>



<?php //print_r($_GET['page']); print_r($_GET['category']['banner']); 
?>