<!-- Toggle View -->
<section class="container-fluid clearfix bg-white p-5 text-center">
    <div class="container">
        <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#all_specs" aria-expanded="false" aria-controls="all_specs">
            Show All Specs <i class="far fa-eye"></i>
        </button>
    </div>
</section>

<!-- All Specs -->
<section id="all_specs" class="container-fluid collapse show animated fadeIn">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category</th>
                        <th scope="col">Specs</th>
                        <th scope="col">Details</th>
                        <!-- <th scope="col">Handle</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in product.specs">
                            <th scope="row">{{ $index + 1 }}</th>
                            <td>{{p.category}}</td>
                            <td>{{p.name}}</td>
                            <td>{{p.details}}</td>
                        </tr>
                    </tbody>
                    </table> 
            </div>
        </div>
    </div>

    <div class="container text-center mt-5">
        <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#all_specs" aria-expanded="false" aria-controls="all_specs">
            Hide All Specs <i class="far fa-eye-slash"></i>
        </button>
    </div>
</section>

<!-- Download -->
<section class="container-fluid clearfix bg-dark p-5 text-center text-muted">
    <div class="container p-5">
        <div class="row">
            <div class="col">
                <i class="far fa-4x fa-comments mb-3"></i>
                <h4 class="main-text mb-3">Live Chat</h4>
                <a href="javascript:void(0)" class="btn btn-outline-light" type="button" aria-expanded="false">
                    Start Chatting <i class="fas fa-external-link-alt"></i>
                </a>
            </div>
        </div>
    </div>
</section>
