    /*
I wanted to go with a mobile first approach, but it actually lead to more verbose CSS in this case, so I've gone web first. Can't always force things...

Side note: I know that this style of nesting in SASS doesn't result in the most performance efficient CSS code... but on the OCD/organizational side, I like it. So for CodePen purposes, CSS selector performance be damned.
*/
    /* Global settings */
    /* Global "table" column settings */
    
    .cart-product-image {
        float: left;
        width: 20%;
    }
    
    .cart-product-details {
        float: left;
        width: 37%;
    }
    
    .cart-product-price {
        float: left;
        width: 12%;
    }
    
    .cart-product-quantity {
        float: left;
        width: 10%;
    }
    
    .cart-product-removal {
        float: left;
        width: 9%;
    }
    
    .cart-product-line-price {
        float: left;
        width: 12%;
        text-align: right;
    }
    /* This is used as the traditional .clearfix class */
    
    .group:before,
    .shopping-cart:before,
    .column-labels:before,
    .cart-product:before,
    .totals-item:before,
    .group:after,
    .shopping-cart:after,
    .column-labels:after,
    .cart-product:after,
    .totals-item:after {
        content: "";
        display: table;
    }
    
    .group:after,
    .shopping-cart:after,
    .column-labels:after,
    .cart-product:after,
    .totals-item:after {
        clear: both;
    }
    
    .group,
    .shopping-cart,
    .column-labels,
    .cart-product,
    .totals-item {
        zoom: 1;
    }
    /* Apply clearfix in a few places */
    /* Apply dollar signs */
    
    .cart-product .cart-product-price:before,
    .cart-product .cart-product-line-price:before,
    .totals-value:before {
        content: "";
    }
    /* Body/Header stuff */
    /* body {
        padding: 0px 30px 30px 20px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 100;
    }
    
    h1 {
        font-weight: 100;
    } */
    
    label {
        color: #aaa;
    }
    
    .shopping-cart {
        margin-top: -45px;
    }
    /* Column headers */
    
    .column-labels label {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
    }
    
    .column-labels .cart-product-image,
    .column-labels .cart-product-details,
    .column-labels .cart-product-removal {
        text-indent: -9999px;
    }
    /* Product entries */
    
    .cart-product {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }
    
    .cart-product .cart-product-image {
        text-align: center;
    }
    
    .cart-product .cart-product-image img {
        width: 100px;
    }
    
    .cart-product .cart-product-details .cart-product-title {
        margin-right: 20px;
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    }
    
    .cart-product .cart-product-details .cart-product-description {
        margin: 5px 20px 5px 0;
        line-height: 1.4em;
    }
    
    .cart-product .cart-product-quantity input {
        width: 40px;
    }
    
    .cart-product .remove-cart-product {
        border: 0;
        padding: 4px 8px;
        background-color: #c66;
        color: #fff;
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
        font-size: 12px;
        border-radius: 3px;
    }
    
    .cart-product .remove-cart-product:hover {
        background-color: #a44;
    }
    /* Totals section */
    
    .totals .totals-item {
        float: right;
        clear: both;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .totals .totals-item label {
        float: left;
        clear: both;
        width: 79%;
        text-align: right;
    }
    
    .totals .totals-item .totals-value {
        float: right;
        width: 21%;
        text-align: right;
    }
    
    .totals .totals-item-total {
        font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    }
    
    .checkout {
        float: right;
        border: 0;
        margin-top: 20px;
        padding: 6px 25px;
        background-color: #6b6;
        color: #fff;
        font-size: 25px;
        border-radius: 3px;
    }
    
    .checkout:hover {
        background-color: #494;
    }
    /* Make adjustments for tablet */
    
    @media screen and (max-width: 650px) {
        .shopping-cart {
            margin: 0;
            padding-top: 20px;
            border-top: 1px solid #eee;
        }
        .column-labels {
            display: none;
        }
        .cart-product-image {
            float: right;
            width: auto;
        }
        .cart-product-image img {
            margin: 0 0 10px 10px;
        }
        .cart-product-details {
            float: none;
            margin-bottom: 10px;
            width: auto;
        }
        .cart-product-price {
            clear: both;
            width: 70px;
        }
        .cart-product-quantity {
            width: 100px;
        }
        .cart-product-quantity input {
            margin-left: 20px;
        }
        .cart-product-quantity:before {
            content: "x";
        }
        .cart-product-removal {
            width: auto;
        }
        .cart-product-line-price {
            float: right;
            width: 70px;
        }
    }
    /* Make more adjustments for phone */
    
    @media screen and (max-width: 350px) {
        .cart-product-removal {
            float: right;
        }
        .cart-product-line-price {
            float: right;
            clear: left;
            width: auto;
            margin-top: 10px;
        }
        .cart-product .cart-product-line-price:before {
            content: "Item Total: ";
        }
        .totals .totals-item label {
            width: 60%;
        }
        .totals .totals-item .totals-value {
            width: 40%;
        }
    }
    
    .empty-cart {
        width: 50vw;
        margin: 0 auto;
        text-align: center;
        font-family: 'Maison Neue';
        font-weight: 300;
    }
    
    svg {
        max-width: 60%;
        padding: 5rem 3rem;
    }
    
    svg #oval,
    svg #plus,
    svg #diamond,
    svg #bubble-rounded {
        -webkit-animation: plopp 4s ease-out infinite;
        animation: plopp 4s ease-out infinite;
    }
    
    svg #oval:nth-child(1),
    svg #plus:nth-child(1),
    svg #diamond:nth-child(1),
    svg #bubble-rounded:nth-child(1) {
        -webkit-animation-delay: -240ms;
        animation-delay: -240ms;
    }
    
    svg #oval:nth-child(2),
    svg #plus:nth-child(2),
    svg #diamond:nth-child(2),
    svg #bubble-rounded:nth-child(2) {
        -webkit-animation-delay: -480ms;
        animation-delay: -480ms;
    }
    
    svg #oval:nth-child(3),
    svg #plus:nth-child(3),
    svg #diamond:nth-child(3),
    svg #bubble-rounded:nth-child(3) {
        -webkit-animation-delay: -720ms;
        animation-delay: -720ms;
    }
    
    svg #oval:nth-child(4),
    svg #plus:nth-child(4),
    svg #diamond:nth-child(4),
    svg #bubble-rounded:nth-child(4) {
        -webkit-animation-delay: -960ms;
        animation-delay: -960ms;
    }
    
    svg #oval:nth-child(5),
    svg #plus:nth-child(5),
    svg #diamond:nth-child(5),
    svg #bubble-rounded:nth-child(5) {
        -webkit-animation-delay: -1200ms;
        animation-delay: -1200ms;
    }
    
    svg #oval:nth-child(6),
    svg #plus:nth-child(6),
    svg #diamond:nth-child(6),
    svg #bubble-rounded:nth-child(6) {
        -webkit-animation-delay: -1440ms;
        animation-delay: -1440ms;
    }
    
    svg #oval:nth-child(7),
    svg #plus:nth-child(7),
    svg #diamond:nth-child(7),
    svg #bubble-rounded:nth-child(7) {
        -webkit-animation-delay: -1680ms;
        animation-delay: -1680ms;
    }
    
    svg #oval:nth-child(8),
    svg #plus:nth-child(8),
    svg #diamond:nth-child(8),
    svg #bubble-rounded:nth-child(8) {
        -webkit-animation-delay: -1920ms;
        animation-delay: -1920ms;
    }
    
    svg #oval:nth-child(9),
    svg #plus:nth-child(9),
    svg #diamond:nth-child(9),
    svg #bubble-rounded:nth-child(9) {
        -webkit-animation-delay: -2160ms;
        animation-delay: -2160ms;
    }
    
    svg #oval:nth-child(10),
    svg #plus:nth-child(10),
    svg #diamond:nth-child(10),
    svg #bubble-rounded:nth-child(10) {
        -webkit-animation-delay: -2400ms;
        animation-delay: -2400ms;
    }
    
    svg #oval:nth-child(11),
    svg #plus:nth-child(11),
    svg #diamond:nth-child(11),
    svg #bubble-rounded:nth-child(11) {
        -webkit-animation-delay: -2640ms;
        animation-delay: -2640ms;
    }
    
    svg #oval:nth-child(12),
    svg #plus:nth-child(12),
    svg #diamond:nth-child(12),
    svg #bubble-rounded:nth-child(12) {
        -webkit-animation-delay: -2880ms;
        animation-delay: -2880ms;
    }
    
    svg #oval:nth-child(13),
    svg #plus:nth-child(13),
    svg #diamond:nth-child(13),
    svg #bubble-rounded:nth-child(13) {
        -webkit-animation-delay: -3120ms;
        animation-delay: -3120ms;
    }
    
    svg #oval:nth-child(14),
    svg #plus:nth-child(14),
    svg #diamond:nth-child(14),
    svg #bubble-rounded:nth-child(14) {
        -webkit-animation-delay: -3360ms;
        animation-delay: -3360ms;
    }
    
    svg #oval:nth-child(15),
    svg #plus:nth-child(15),
    svg #diamond:nth-child(15),
    svg #bubble-rounded:nth-child(15) {
        -webkit-animation-delay: -3600ms;
        animation-delay: -3600ms;
    }
    
    svg #oval:nth-child(16),
    svg #plus:nth-child(16),
    svg #diamond:nth-child(16),
    svg #bubble-rounded:nth-child(16) {
        -webkit-animation-delay: -3840ms;
        animation-delay: -3840ms;
    }
    
    svg #bg-line:nth-child(2) {
        fill-opacity: 0.3;
    }
    
    svg #bg-line:nth-child(3) {
        fill-opacity: 0.4;
    }
    
    p {
        color: rgba(0, 0, 0, 0.5);
        font-size: 18px;
        line-height: 24px;
        max-width: 80%;
        margin: 1.25rem auto 0 auto;
    }
    
    @-webkit-keyframes plopp {
        0% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
            opacity: 0;
        }
    }
    
    @keyframes plopp {
        0% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
            opacity: 1;
        }
        100% {
            -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
            opacity: 0;
        }
    }