/** RMQ Creative **/


/** www.reubenmacquaye.com **/

@font-face {
    font-family: SamsungOne-200;
    src: url('../fonts/SamsungSans-Light.ttf');
}

@font-face {
    font-family: SamsungOne-800;
    src: url('../fonts/SamsungOne-800_v1.0.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #f1f1f1;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}


/*** Scroll bar custom ***/

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}


/* Handle */

::-webkit-scrollbar-thumb {
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    background: rgba(66, 66, 66, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(66, 66, 66, 0.5);
}

p {
    font-family: SamsungOne-200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 150ms ease-in;
}

a:hover {
    text-decoration: none;
    color: #7bb5df;
}

.bg-samsung {
    background-color: #1428a0;
}

.samsung {
    color: #1428a0;
}

.bg-midea {
    background-color: #009adb;
}

.midea {
    color: #009adb;
}

.bg-nasco {
    background-color: #394786;
}

.nasco {
    color: #394786;
}

.bg-toshiba {
    background-color: #E31739;
}

.toshiba {
    color: #E31739;
}

.bg-abb {
    background-color: #FF1726;
}

.abb {
    color: #FF1726;
}

b {
    font-weight: 900;
}

i {
    font-style: italic;
}

.underline {
    text-decoration: underline !important;
}

.hr {
    border-top: 1px solid rgba(255, 255, 255, 0.9);
}

.hr2 {
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    width: 50%;
    text-align: center;
}

.center-text {
    text-align: center;
}


/**======================================
 Brand BTNs
 ====================================***/

.btn-samsung {
    color: #fff !important;
    background-color: #1428a0;
    border-color: #1428a0;
    transition: all 150ms ease-in;
    letter-spacing: 3px;
}

.btn-samsung:hover {
    color: #1428a0 !important;
    background-color: #fff;
    border-color: #fff;
}

.btn-midea {
    color: #fff !important;
    background-color: #009adb;
    border-color: #009adb;
    transition: all 300ms ease-in;
}

.btn-midea:hover {
    color: #009adb !important;
    background-color: #fff;
    border-color: #fff;
}

.btn-nasco {
    color: #fff !important;
    background-color: #394786;
    border-color: #394786;
    transition: all 300ms ease-in;
}

.btn-nasco:hover {
    color: #394786 !important;
    background-color: #fff;
    border-color: #fff;
}

.btn-toshiba {
    color: #fff !important;
    background-color: #E31739;
    border-color: #E31739;
    transition: all 300ms ease-in;
}

.btn-toshiba:hover {
    color: #E31739 !important;
    background-color: #fff;
    border-color: #fff;
}

.btn-abb {
    color: #fff !important;
    background-color: #FF1726;
    border-color: #FF1726;
    transition: all 300ms ease-in;
}

.btn-abb:hover {
    color: #FF1726 !important;
    background-color: #fff;
    border-color: #fff;
}

.btn-home {
    color: #1428a0 !important;
    background-color: #c9c9c9;
    border-color: #c9c9c9;
    transition: all 300ms ease-in;
}

.btn-home:hover {
    color: #c9c9c9 !important;
    background-color: #0b0b0b;
    border-color: #0b0b0b;
}


/**======================================
 Background Colors
 ====================================***/

.bg-black {
    background-color: #0b0b0b;
    color: #f7f7f7;
}

.bg-color-1 {
    background-color: #2a3478;
}

.bg-color-2 {
    background-color: #7bb5df;
}

.bg-white {
    background-color: #fff;
}

.bg-trans-black {
    background-color: rgba(0, 0, 0, 0.85);
}

.bg-gray {
    background-color: #ececec;
}


/***********************************/


/** Typography **/


/*************************************/

.main-text {
    font-family: SamsungOne-800;
    /*margin-bottom: 1.8%;*/
}

.bold {
    font-weight: 900;
}

.font-shadow {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.color {
    color: #f2f2f2;
}

.color-2 {
    color: #2a3478;
}

.muted {
    color: #a7a9ab;
}


/**===========================
Cards
===========================***/

.card {
    background-color: #fff;
    transition: all 600ms ease;
    overflow: hidden;
    margin-bottom: 20px;
}

.card:hover {
    background-color: #fff;
    color: #010101;
    -webkit-box-shadow: 0px 1px 5px -1px rgba(1, 1, 1, 0.4);
    -moz-box-shadow: 0px 1px 5px -1px rgba(1, 1, 1, 0.4);
    box-shadow: 0px 1px 5px -1px rgba(1, 1, 1, 0.4);
}

.card-body {
    position: relative;
}

.card-body img {
    width: 100px;
    height: auto;
    display: block;
    margin: auto;
}

.box-shadow {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.inset_promo:hover,
.inset_blog:hover {
    -webkit-box-shadow: 0px 10px 30px -10px rgba(1, 1, 1, 0.4);
    -moz-box-shadow: 0px 10px 30px -10px rgba(1, 1, 1, 0.4);
    box-shadow: 0px 10px 30px -10px rgba(1, 1, 1, 0.4);
}

.icon {
    width: 50px;
    margin-bottom: 25px;
}

.side_content_push_down_half {
    position: relative;
    padding-top: 70px;
}


/***========================================
Animations
=======================================*****/

.animated {
    visibility: visible;
}

.delay {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
}

.delay2 {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
}

.delay3 {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: 1;
}

.delay4 {
    -webkit-animation-duration: 4s;
    -webkit-animation-delay: 4s;
    -webkit-animation-iteration-count: 1;
}

.delay5 {
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 5s;
    -webkit-animation-iteration-count: 1;
}

.infinite {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
}


/* --------------------------------
Footer components
-------------------------------- */

#Footer {
    position: relative;
    width: 100%;
    padding: 50px 0px;
    background: #0b0b0b;
    color: #ccc;
    text-decoration: none;
}

#Footer a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3ms ease-in;
    line-height: 1.5;
}

#Terms>.container>.row>.col {
    border-right: solid #0b0b0b 1px;
}

#Terms>.container>.row>.col:last-child {
    border-right: solid transparent 1px;
}


/* -------------------------------- 

1. Auto-Hiding Navigation - Simple

-------------------------------- */

.cd-auto-hide-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    /* background-color: #ffffff; */
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    /* border-bottom: 1px solid #7f7f7f; */
}

.cd-auto-hide-header::after {
    clear: both;
    content: '';
    display: block;
}

.cd-auto-hide-header.is-hidden {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
/* 
@media only screen and (min-width: 1024px) {
    .cd-auto-hide-header {
        height: 70px;
    }
} */

.cd-auto-hide-header .nav-trigger {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cd-auto-hide-header .logo a,
.cd-auto-hide-header .logo img {
    display: block;
}

.cd-auto-hide-header .nav-trigger {
    /* vertically align its content */
    display: table;
    height: 100%;
    padding: 0 1em;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #25283d;
    font-weight: bold;
    right: 0;
    border-left: 1px solid #f2f2f2;
}

.cd-auto-hide-header .nav-trigger span {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
}

.cd-auto-hide-header .nav-trigger em,
.cd-auto-hide-header .nav-trigger em::after,
.cd-auto-hide-header .nav-trigger em::before {
    /* this is the menu icon */
    display: block;
    position: relative;
    height: 2px;
    width: 22px;
    background-color: #25283d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-auto-hide-header .nav-trigger em {
    /* this is the menu central line */
    margin: 6px auto 14px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-auto-hide-header .nav-trigger em::before,
.cd-auto-hide-header .nav-trigger em::after {
    position: absolute;
    content: '';
    left: 0;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.cd-auto-hide-header .nav-trigger em::before {
    /* this is the menu icon top line */
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.cd-auto-hide-header .nav-trigger em::after {
    /* this is the menu icon bottom line */
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
}

@media only screen and (min-width: 1024px) {
    .cd-auto-hide-header .nav-trigger {
        display: none;
    }
}

.cd-auto-hide-header.nav-open .nav-trigger em {
    /* transform menu icon into a 'X' icon */
    background-color: rgba(255, 255, 255, 0);
}

.cd-auto-hide-header.nav-open .nav-trigger em::before {
    /* rotate top line */
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cd-auto-hide-header.nav-open .nav-trigger em::after {
    /* rotate bottom line */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-primary-nav {
    display: inline-block;
    float: right;
    height: 100%;
    padding-right: 5%;
}

.cd-primary-nav>ul {
    position: absolute;
    z-index: 6;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: none;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}

.cd-primary-nav>ul a {
    /* target primary-nav links */
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    font-size: 0.85rem;
    border-top: 1px solid #f2f2f2;
}

@media only screen and (min-width: 1024px) {
    .cd-primary-nav {
        /* vertically align its content */
        display: table;
    }
    .cd-primary-nav>ul {
        /* vertically align inside parent element */
        display: table-cell;
        vertical-align: middle;
        /* reset mobile style */
        position: relative;
        width: auto;
        top: -25px;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }
    .cd-primary-nav>ul::after {
        clear: both;
        content: '';
        display: block;
    }
    .cd-primary-nav>ul li {
        display: inline-block;
        float: left;
        margin-right: 1.5em;
    }
    .cd-primary-nav>ul li:last-of-type {
        margin-right: 0;
    }
    .cd-primary-nav>ul a {
        /* reset mobile style */
        height: auto;
        line-height: normal;
        padding: 0;
        border: none;
    }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
    /* 
    show primary nav - mobile only 
    :target is used to show navigation on no-js devices
  */
    display: block;
}

@media only screen and (min-width: 1024px) {
    .nav-open .cd-primary-nav ul,
    .cd-primary-nav ul:target {
        display: table-cell;
    }
}


/* -------------------------------- 

2. Auto-Hiding Navigation - with Sub Nav

-------------------------------- */

.cd-secondary-nav {
    position: relative;
    z-index: 1;
    clear: both;
    width: 100%;
    height: 50px;
    background-color: #252525;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    overflow: hidden;
}

.cd-secondary-nav::after {
    /* gradient on the right - to indicate it's possible to scroll */
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
    width: 35px;
    background: #252525;
    pointer-events: none;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.cd-secondary-nav.nav-end::after {
    opacity: 0;
}

.cd-secondary-nav ul,
.cd-secondary-nav li,
.cd-secondary-nav a {
    height: 100%;
}

.cd-secondary-nav ul {
    /* enables a flex context for all its direct children */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.cd-secondary-nav ul::after {
    clear: both;
    content: '';
    display: block;
}

.cd-secondary-nav li {
    display: inline-block;
    float: left;
    /* do not shrink - elements float on the right of the element */
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.cd-secondary-nav li:last-of-type {
    padding-right: 10px;
}

.cd-secondary-nav a {
    display: block;
    color: #ffffff;
    opacity: 0.6;
    line-height: 50px;
    padding: 0 1em;
}

.cd-secondary-nav a:hover,
.cd-secondary-nav a.active {
    opacity: 1;
}

@media only screen and (min-width: 1024px) {
    .cd-secondary-nav {
        height: 70px;
        overflow: visible;
    }
    .cd-secondary-nav ul {
        /* reset mobile style */
        display: block;
        text-align: center;
    }
    .cd-secondary-nav li {
        /* reset mobile style */
        float: none;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }
    .cd-secondary-nav a {
        line-height: 70px;
    }
}


/* -------------------------------- 

3. Auto-Hiding Navigation - with Sub Nav + Hero Image

-------------------------------- */

.cd-secondary-nav.fixed {
    position: fixed;
    top: 70px;
}

.cd-secondary-nav>ul>li>a.btn {
    background: #1428a0;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 0px;
    color: #fff;
}

.cd-secondary-nav.slide-up {
    -webkit-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    transform: translateY(-70px);
}

@media only screen and (min-width: 1024px) {
    .cd-secondary-nav.fixed {
        top: 70px;
        /* fixes a bug where nav and subnab move with a slight delay */
        box-shadow: 0 -6px 0 #25283d;
    }
    .cd-secondary-nav.slide-up {
        -webkit-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
        transform: translateY(-70px);
    }
}


/* -------------------------------- 

Sub Hero Content

-------------------------------- */

.sub-nav {
    /* to be used if there is sub nav */
    padding-top: 110px;
}

.sub-nav-hero {
    /* to be used if there is hero image + subnav */
    padding-top: 0;
}

.sub-nav-hero.secondary-nav-fixed {
    margin-top: 50px;
}

@media only screen and (min-width: 1024px) {
    .sub-nav {
        padding-top: 150px;
    }
    .sub-nav-hero.secondary-nav-fixed {
        margin-top: 70px;
    }
}


/*
    adjust the positioning of in-page links
    http://nicolasgallagher.com/jump-links-and-viewport-positioning/
*/

.sub-nav-hero :target::before {
    display: block;
    content: '';
    margin-top: -50px;
    height: 50px;
    visibility: hidden;
}

@media only screen and (min-width: 1024px) {
    .sub-nav-hero :target::before {
        margin-top: -70px;
        height: 70px;
    }
}


/* --------------------------------
Search Bar
-------------------------------- */

#Search>.row>.col-sm-4>.bg-white:hover {
    border: 1px solid #c9c9c9;
    transition: all 150ms ease;
}

.list-group-flush li {
    /* margin-bottom: 3%; */
    letter-spacing: 1px;
}


/* 
.list-group-flush li>a:hover {
  background-color: #f2f2f2;
} */


/* -------------------------------- 
Intro Section
-------------------------------- */

#Hero {
    position: relative;
    margin-top: 69px;
    /* overflow: hidden; */
}

.cd-hero {
    width: 100%;
    height: auto;
    padding: 100px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.2) 100%), /* bottom, image */
    url('../img/product_featured.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* vertically align its content */
    display: table;
    width: 100%;
    height: auto;
}

.cd-hero {
    /* vertically align inside parent element */
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .cd-hero {
        height: 400px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-hero {
        height: 550px;
        margin-top: 70px;
    }
}


/** ===============================

Nav Logo

=================================**/

.logo {
    position: absolute;
    width: 450px;
    height: auto;
    margin-top: 2px;
    margin-left: 20px;
    transition: all 0.35ms ease-in;
}

@media (max-width: 1000px) {
    .logo {
        width: 290px;
        margin-left: 5px;
        margin-top: 8px;
    }
}


/** ===============================

Form settings

=================================**/

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2a3478;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: transparent;
    outline: 0;
    border-bottom: 1px #0b0b0b solid;
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #f7f7f7;
    opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}

textarea.form-control {
    height: auto;
}

input[type='search'] {
    -webkit-appearance: none;
}

#form_button {
    margin-top: 15px;
}

label {
    /*border-bottom: 1px solid ;*/
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}


/** =============================
IDs
=============================**/

#House {
    position: relative;
    width: 100%;
    height: 80vh;
    padding: 100px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.2) 100%), /* bottom, image */
    url('../img/scene.jpg') no-repeat top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.house-self {
    position: absolute;
    z-index: 1;
    width: 1000px;
    height: 500px;
    overflow: hidden;
    /* bottom: 1000px; */
}

.image-1 {
    width: 100%;
    height: auto;
    padding: 100px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.2) 100%), /* bottom, image */
    url('../img/house/bedroom.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image-2 {
    width: 100%;
    height: auto;
    padding: 100px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.2) 100%), /* bottom, image */
    url('../img/house/powerroom.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image-3 {
    width: 100%;
    height: auto;
    padding: 100px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.2) 100%), /* bottom, image */
    url('../img/house/bathroom.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image-4 {
    width: 100%;
    height: auto;
    padding: 100px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.2) 100%), /* bottom, image */
    url('../img/house/kitchen.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.image-5 {
    width: 100%;
    height: auto;
    padding: 100px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.2) 100%), /* bottom, image */
    url('../img/house/livingroom.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Error-404 {
    width: 100%;
    height: 90vh;
    padding: 250px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.2) 100%), /* bottom, image */
    url('../img/404.jpg') no-repeat top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Brand_Hero {
    position: relative;
    color: #fff;
    overflow: hidden;
    margin-top: 30px;
}

#Category {
    position: relative;
    margin-top: -100px;
}

.nasco-bg {
    width: 100%;
    height: 720px;
    padding: 5%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

#Features {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 100px 0 100px 0;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

#Explore,
#Blog,
#Location,
#Brand,
#Promotions,
#Corporate,
#Conditions,
#Support,
#Compare,
#Checkout {
    /* padding-top: 50px; */
    margin-bottom: 50px;
    background-color: #f1f1f1;
}

#Blog_Single {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

iframe {
    border: 1px solid transparent;
    border-bottom: 1px solid #0b0b0b;
}

.border-bottom-light {
    border-bottom: solid 1px #fff;
}

#all_specs {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #E7E7E8;
}

#CategoriesButtons {
    position: absolute;
    z-index: 2;
}

.home-large {
    padding-top: 10%;
    background: url(../img/cats/home.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/** =============================
Carousel / Slider
=============================**/

.carousel-item:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: rgba(0, 0, 0, 0.2); */
}


/** =============================
Product Featured Page
=============================**/

#Specs,
#Overview,
#Benefits,
#Accessories {
    height: auto;
    padding: 100px 0px 0px 0px;
    text-align: center;
}

.one {
    width: 100%;
    padding: 250px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.two {
    width: 100%;
    padding: 250px;
    background: rgb(0, 0, 0);
    background-size: cover;
    background-attachment: fixed;
}

.sub-hero-text {
    padding: 50px;
}

#Specs>.container>.row>.col-md-3 {
    border-right: solid #e5e5e5 1px;
}

#Specs>.container>.row>.col-md-3:last-child {
    border-right: solid transparent 1px;
}


/** =============================
Product Single Page
=============================**/

.cd-gallery::after {
    clear: both;
    content: "";
    display: table;
}

.cd-gallery>li {
    overflow: hidden;
    position: relative;
}

.cd-gallery>li>a {
    display: block;
}

.cd-item-wrapper {
    position: relative;
    overflow: hidden;
    margin: 3em 0;
}

.cd-item-wrapper li {
    position: absolute;
    top: 0;
    left: 25%;
    height: 100%;
    width: 50%;
    opacity: 0;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform, opacity;
    -webkit-transform: translateX(200%) scale(0.7);
    -moz-transform: translateX(200%) scale(0.7);
    -ms-transform: translateX(200%) scale(0.7);
    -o-transform: translateX(200%) scale(0.7);
    transform: translateX(200%) scale(0.7);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

.cd-item-wrapper li.selected {
    /* selected item */
    position: relative;
    opacity: 1;
    -webkit-transform: translateX(0) scale(1.3);
    -moz-transform: translateX(0) scale(1.3);
    -ms-transform: translateX(0) scale(1.3);
    -o-transform: translateX(0) scale(1.3);
    transform: translateX(0) scale(1.3);
}

.cd-item-wrapper li.move-left {
    /* item on left - preview visible */
    -webkit-transform: translateX(-100%) scale(0.7);
    -moz-transform: translateX(-100%) scale(0.7);
    -ms-transform: translateX(-100%) scale(0.7);
    -o-transform: translateX(-100%) scale(0.7);
    transform: translateX(-100%) scale(0.7);
    opacity: 0.5;
}

.cd-item-wrapper li.move-right {
    /* item on right - preview visible */
    -webkit-transform: translateX(100%) scale(0.7);
    -moz-transform: translateX(100%) scale(0.7);
    -ms-transform: translateX(100%) scale(0.7);
    -o-transform: translateX(100%) scale(0.7);
    transform: translateX(100%) scale(0.7);
    opacity: 0.5;
}

.cd-item-wrapper li.hide-left {
    /* items hidden on the left */
    -webkit-transform: translateX(-200%) scale(0.7);
    -moz-transform: translateX(-200%) scale(0.7);
    -ms-transform: translateX(-200%) scale(0.7);
    -o-transform: translateX(-200%) scale(0.7);
    transform: translateX(-200%) scale(0.7);
}

.cd-item-wrapper li img {
    display: block;
    width: 100%;
}

@media only screen and (min-width: 1048px) {
    .cd-item-wrapper li.move-left,
    .cd-item-wrapper li.move-right {
        /* hide preview items */
        opacity: 0.3;
    }
    .cd-item-wrapper li.focus-on-left {
        /* class added to the .selected and .move-right items when user hovers over the .move-left item (item preview on the left) */
        -webkit-transform: translateX(3%) scale(1.25);
        -moz-transform: translateX(3%) scale(1.25);
        -ms-transform: translateX(3%) scale(1.25);
        -o-transform: translateX(3%) scale(1.25);
        transform: translateX(3%) scale(1.25);
    }
    .cd-item-wrapper li.focus-on-left.move-right {
        -webkit-transform: translateX(103%) scale(0.7);
        -moz-transform: translateX(103%) scale(0.7);
        -ms-transform: translateX(103%) scale(0.7);
        -o-transform: translateX(103%) scale(0.7);
        transform: translateX(103%) scale(0.7);
    }
    .cd-item-wrapper li.focus-on-right {
        /* class added to the .selected and .move-left items when user hovers over the .move-right item (item preview on the right) */
        -webkit-transform: translateX(-3%) scale(1.25);
        -moz-transform: translateX(-3%) scale(1.25);
        -ms-transform: translateX(-3%) scale(1.25);
        -o-transform: translateX(-3%) scale(1.25);
        transform: translateX(-3%) scale(1.25);
    }
    .cd-item-wrapper li.focus-on-right.move-left {
        -webkit-transform: translateX(-103%) scale(0.7);
        -moz-transform: translateX(-103%) scale(0.7);
        -ms-transform: translateX(-103%) scale(0.7);
        -o-transform: translateX(-103%) scale(0.7);
        transform: translateX(-103%) scale(0.7);
    }
    .cd-item-wrapper li.hover {
        /* class added to the preview items (.move-left or .move-right) when user hovers over them */
        opacity: 1 !important;
    }
    .cd-item-wrapper li.hover.move-left {
        -webkit-transform: translateX(-97%) scale(0.75);
        -moz-transform: translateX(-97%) scale(0.75);
        -ms-transform: translateX(-97%) scale(0.75);
        -o-transform: translateX(-97%) scale(0.75);
        transform: translateX(-97%) scale(0.75);
    }
    .cd-item-wrapper li.hover.move-right {
        -webkit-transform: translateX(97%) scale(0.75);
        -moz-transform: translateX(97%) scale(0.75);
        -ms-transform: translateX(97%) scale(0.75);
        -o-transform: translateX(97%) scale(0.75);
        transform: translateX(97%) scale(0.75);
    }
}

.cd-dots {
    /* not visible in the html document - created using jQuery */
    position: absolute;
    bottom: 0px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: .2em;
}

.cd-dots::after {
    clear: both;
    content: "";
    display: table;
}

.cd-dots li {
    display: inline-block;
    float: left;
    margin: 0 5px;
    pointer-events: none;
}

.cd-dots li.selected a {
    background: #2f2933;
    border-color: #2f2933;
}

.cd-dots a {
    display: block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    border: 1px solid #0b0b0b;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: border-color 0.2s, background-color 0.2s;
    -moz-transition: border-color 0.2s, background-color 0.2s;
    transition: border-color 0.2s, background-color 0.2s;
}

@media only screen and (min-width: 1048px) {
    .cd-dots li {
        pointer-events: auto;
    }
    .cd-dots li.selected a {
        background: #cccccc;
        border-color: #cccccc;
    }
    .cd-dots a {
        height: 8px;
        width: 8px;
        border-color: #cccccc;
        /* fix a bug in IE9/10 - transparent anchor not clickable */
        background-color: rgba(255, 255, 255, 0);
    }
}

.no-js .move-right,
.no-js .move-left {
    display: none;
}


/** =============================
Product Display
=============================**/

#prod-types {
    position: relative;
}

.card .pic-1 {
    opacity: 1;
    transition: all 300ms ease-in;
}

.card:hover .pic-1 {
    transform: translate3d(0px, -450px, 10px);
    opacity: 0;
    transition: all 300ms ease-out;
}

.card .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 300ms ease-out;
}

.card:hover .pic-2 {
    opacity: 1;
    transition: all 300ms ease-in;
}

.card .social {
    width: 180px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
}

.card .social li {
    display: inline-block;
    opacity: 0;
    transition: all 0.7s;
}

.card .social li:nth-child(1) {
    transition-delay: 0.15s;
}

.card .social li:nth-child(2) {
    transition-delay: 0.3s;
}

.card .social li:nth-child(3) {
    transition-delay: 0.45s;
}

.card:hover .social li {
    opacity: 1;
}

.card .social li a {
    color: #222;
    background: #fff;
    font-size: 17px;
    line-height: 36px;
    width: 40px;
    height: 36px;
    border-radius: 2px;
    margin: 0 5px;
    display: block;
    transition: all 0.3s ease 0s;
}

.card .social li a:hover {
    color: #fff;
    background: #0b0b0b;
}

.card .social li a:after,
.card .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    line-height: 20px;
    border-radius: 3px;
    padding: 0 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px;
}

.card .social li a:after {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1;
}

.card .social li a:hover:after,
.card .social li a:hover:before {
    opacity: 1;
}

.card .product-discount-label,
.card .product-new-label {
    color: #fff;
    background-color: #0b0b0b;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 15px;
    transition: all 0.3s;
}

.card .product-discount-label {
    left: auto;
    right: 10px;
    background-color: #d7292a;
}

.card:hover .product-new-label {
    opacity: 0;
}

.card .product-content {
    padding: 25px;
}

.card .title {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 7px;
    transition: all 0.3s ease 0s;
}

.card .title a {
    color: #222;
}

.card .title a:hover {
    color: #0b0b0b;
}

.card .price {
    color: #0b0b0b;
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block;
}

.card .price span {
    color: #909090;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: line-through;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
}

.card .add-to-cart {
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 10px 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    border-radius: 4px;
    transition: all 0.3s;
}

.card:hover .add-to-cart {
    border: 1px solid transparent;
    background: #0b0b0b;
    color: #fff;
}

@media only screen and (max-width: 990px) {
    .card {
        margin-bottom: 30px;
    }
}

.filter-group {
    border-bottom: 1px solid #e4e4e4;
}

.filter-group .card-header {
    border-bottom: 0;
}

.icon-control {
    margin-top: 6px;
    float: right;
    font-size: 80%;
}

.list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.list-menu a {
    color: #343a40;
}

.checkbox-btn {
    position: relative;
}

.checkbox-btn input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox-btn input:checked~.btn {
    border-color: #3167eb;
    background-color: #3167eb;
    color: #fff;
}


/** =============================
Video
=============================**/

.videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
    background-color: #000;
}

.videoWrapper43 {
    padding-top: 75%;
}

.videoWrapper169 {
    padding-top: 56%;
}

.videoIframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.videoPoster {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    outline: none;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-size: cover;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    -moz-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
}

.videoPoster:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 5px solid #fff;
    border-radius: 100%;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
}

.videoPoster:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -24px 0 0 -14px;
    border-left: 40px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
}

.videoPoster:hover:before,
.videoPoster:focus:before {
    border-color: #f00;
}

.videoPoster:hover:after,
.videoPoster:focus:after {
    border-left-color: #f00;
}

.videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
}


/** =============================
Map
=============================**/

.map {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
}

.listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
}

.listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
}

.listings .item:last-child {
    border-bottom: none;
}

.listings .item .title {
    display: block;
    color: #1428a0;
    font-weight: 700;
}

.listings .item .title small {
    font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
    color: #009adb;
}

.listings .item.active {
    background-color: #f8f8f8;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #1428a0;
    border-radius: 0;
}

.clearfix {
    display: block;
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* Marker tweaks */

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    padding: 0;
    width: 180px;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
}

.mapboxgl-popup-content h3 {
    background: rgb(42, 52, 120);
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}

.mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px;
    font-weight: 400;
}

.mapboxgl-popup-content div {
    padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-bottom-color: rgb(42, 52, 120);
}

.mapboxgl-popup {
    padding-bottom: 50px;
}


/************************************/


/* Blog - Single Post  */


/************************************/


/*******************************/


/*   Cart Page Settings    */


/*******************************/

.cart-product-image {
    width: 50%;
}


/* Apply clearfix in a few places */


/* Apply dollar signs */

.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
    content: 'GHS ';
}


/* Product entries */

.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.product .product-image {
    text-align: center;
}

.product-image>.pic-2,
.product-image>.pic-1 {
    /* width: 500px; */
    max-height: 300px;
    overflow: hidden;
}

.product .product-details .product-title {
    margin-right: 20px;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}

.product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}

.product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
    font-size: 12px;
    border-radius: 3px;
}

.product .remove-product:hover {
    background-color: #a44;
}


/* Totals section */

.totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

.totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
}

.totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
}


/** ===================
Owl Carousel
=================== **/

.b-0 {
    bottom: 0;
}

.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
}

.overflow {
    position: relative;
    overflow: hidden;
}

.zoom img {
    transition: all 0.2s linear;
}

.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* Alternate Homepage Settings */

#cf7_controls {
    text-align: center;
    z-index: 2;
    top: 30%;
    overflow: hidden;
    padding: 25px;
}

#cf7_controls span {
    cursor: pointer;
    margin-bottom: 5px;
}

#cf7 {
    position: relative;
    height: 500px;
    width: 100%;
    margin: 0 auto 10px;
}

#cf7 img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

#cf7 img.opaque {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}

.content {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(255, 255, 255, 0.99);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
    height: 100%;
}

.content-image {
    width: 100%;
}

.content-details {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}


/* Scroll to Top */

#scrollTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
}


/* Scroll to Bottom */

#scrollBottom {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}


/* Blog Image Gallery */

#gallery {
    padding-top: 40px;
}

@media screen and (min-width: 991px) {
    #gallery {
        padding: 60px 30px 0 30px;
    }
}

.img-wrapper {
    position: relative;
    margin-top: 15px;
}

.img-wrapper img {
    width: 100%;
}

.img-overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 0;
}

.img-overlay i {
    color: #fff;
    font-size: 3em;
}

#overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#overlay img {
    margin: 0;
    width: 80%;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain;
    padding: 5%;
}

@media screen and (min-width: 768px) {
    #overlay img {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    #overlay img {
        width: 50%;
    }
}

#nextButton {
    color: #fff;
    font-size: 2em;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

#nextButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    #nextButton {
        font-size: 3em;
    }
}

#prevButton {
    color: #fff;
    font-size: 2em;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

#prevButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    #prevButton {
        font-size: 3em;
    }
}

#exitButton {
    color: #fff;
    font-size: 2em;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;
}

#exitButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    #exitButton {
        font-size: 3em;
    }
}


/**********************
/* Compare Modal Component */


/*******************/

.panwidth {
    width: 80%;
}

.relPos {
    position: relative;
}

.addButtonCircular {
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.is_selected {
    border-style: solid !important;
    border-color: #009adb !important;
    border-width: thin !important;
}

.comparePanle {
    position: fixed;
    bottom: 10px;
    width: 100%;
    transform: translateX(-50%);
    display: none;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.8);
}

.product {
    list-style-type: none;
    border: 1px solid #B5B4B7;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.product:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.product .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.product li {
    border-bottom: 1px solid #B5B4B7;
    padding: 10px;
    text-align: center;
}

.product .grey {
    background-color: #eee;
    font-size: 20px;
}

.modPos {
    padding-top: 25px;
}

.contentPop {
    width: 80%;
    margin-left: 10%;
    height: 80%;
}

.compHeader {
    min-height: 200px;
}

.compareThumb {
    height: 150px;
}

.cpu {
    min-height: 115px;
}

.titleMargin {
    padding: 4px 0px 4px 4px;
}

.titleMargin1 {
    padding: 0px 0px 0px 4px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

@media only screen and (max-width:992px) and (min-width:600px) {
    li {
        font-size: 12px;
    }
}

@media only screen and (max-width:992px) {
    .titleMargin {
        padding: 4px 0px 0px 4px;
    }
    .titleMargin1 {
        padding: 0px 0px 0px 4px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
}

@media only screen and (max-width:600px) {
    li {
        font-size: 8px;
    }
    .comparePanle h4 {
        font-size: 15px;
    }
    .compareThumb {
        height: 100px;
    }
    .compHeader {
        min-height: 150px;
    }
}

@media only screen and (min-width:993px) {
    .comparePanle {
        position: fixed;
        bottom: 10px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        z-index: 3;
    }
}

w3-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}


/********************************************

/* Compare Page Table Component  */


/*******************************************/

.cd-products-comparison-table img {
    width: 100%;
}

.cd-products-comparison-table {
    margin-bottom: 6em;
    overflow: scroll;
}

.cd-products-comparison-table::after {
    /* never visible - this is used in jQuery to check the current MQ */
    display: none;
    content: 'mobile';
}

.cd-products-comparison-table header {
    padding: 0 5% 25px;
}

.cd-products-comparison-table header::after {
    clear: both;
    content: "";
    display: table;
}

.cd-products-comparison-table .filter {
    cursor: not-allowed;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.cd-products-comparison-table .filter.active {
    cursor: pointer;
}

@media only screen and (min-width: 1170px) {
    .cd-products-comparison-table {
        margin-bottom: 8em;
    }
    .cd-products-comparison-table::after {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
    .cd-products-comparison-table header {
        padding: 0 5% 40px;
    }
    .cd-products-comparison-table .filter {
        margin-left: 1.6em;
    }
}

.cd-products-table {
    position: relative;
    overflow: hidden;
}

.cd-products-table .features {
    /* fixed left column - product properties list */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 120px;
    border-style: solid;
    border-color: #e6e6e6;
    border-top-width: 1px;
    border-bottom-width: 1px;
    background-color: #fafafa;
    opacity: .95;
}

.cd-products-table .features::after {
    /* color gradient on the right of .features -  visible while scrolling inside the .cd-products-table */
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 4px;
    height: 100%;
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.06), transparent);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.06), transparent);
    opacity: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-products-table .features {
        width: 150px;
    }
}

.cd-products-table.scrolling .features::after {
    opacity: 1;
}

.cd-products-wrapper {
    overflow-x: auto;
    /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
    -webkit-overflow-scrolling: touch;
    border-style: solid;
    border-color: #e6e6e6;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.cd-products-columns {
    width: 100% !important;
    /* products list wrapper */
    margin-left: 120px;
}

.cd-products-columns::after {
    clear: both;
    content: "";
    display: table;
}

.cd-products-columns .product {
    position: relative;
    float: left;
    width: 150px;
    text-align: center;
    -webkit-transition: opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.filtering .cd-products-columns .product:not(.selected) {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.no-product-transition .cd-products-columns .product.selected {
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.filtered .cd-products-columns .product:not(.selected) {
    position: absolute;
}

@media only screen and (min-width: 1170px) {
    .cd-products-columns .product {
        width: 310px;
    }
}

.cd-features-list li {
    font-size: 14px;
    padding: 30px;
    border-color: #e6e6e6;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
}

.cd-features-list li.rate {
    /* rating stars */
    padding: 21px 0;
}

.cd-features-list li.rate span {
    display: inline-block;
    height: 22px;
    width: 110px;
    background: url(../img/cd-star.svg);
    color: transparent;
}

@media only screen and (min-width: 1170px) {
    .cd-features-list li {
        font-size: 14px;
    }
    .cd-features-list li.rate {
        padding: 30px;
    }
}

.features .cd-features-list li,
.cd-products-table .features .top-info {
    /* fixed left column - items */
    font-size: 14px;
    font-weight: bold;
    /* set line-height value equal to font-size of text inside product cells */
    line-height: 16px;
    padding: 30px;
    text-align: left;
}

@media only screen and (min-width: 1170px) {
    .features .cd-features-list li,
    .cd-products-table .features .top-info {
        text-transform: capitalize;
        line-height: 16px;
        letter-spacing: 1px;
    }
}

.features .cd-features-list li {
    /* truncate text with dots */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cd-products-table .top-info {
    position: relative;
    height: 177px;
    width: 150px;
    text-align: center;
    padding: 50px;
    border-color: #e6e6e6;
    border-style: solid;
    border-right-width: 1px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    cursor: pointer;
    background: #ffffff;
}

.cd-products-table .top-info::after {
    /* color gradient below .top-info -  visible when .top-info is fixed */
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 4px;
    width: 100%;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.06), transparent);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.06), transparent);
    opacity: 0;
}

.cd-products-table .top-info h3 {
    padding: 1.25em 0 0.625em;
    font-weight: bold;
    font-size: 1.4rem;
}

.cd-products-table .top-info img {
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-products-table .top-info h3,
.cd-products-table .top-info img {
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.cd-products-table .top-info .check {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 auto 1em;
}

.cd-products-table .top-info .check::after,
.cd-products-table .top-info .check::before {
    /* used to create the check icon and green circle dot - visible when product is selected */
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
}

.cd-products-table .top-info .check::before {
    /* green circle dot */
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    background: #ffffff;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, -moz-transform 0.3s, border-color 0.3s;
    transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
}

.cd-products-table .top-info .check::after {
    /* check icon */
    background: url(../img/cd-check.svg) no-repeat center center;
    background-size: 24px 24px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

@media only screen and (min-width: 1170px) {
    .cd-products-table .top-info {
        height: 280px;
        width: 310px;
    }
    .cd-products-table .top-info h3 {
        padding-top: 1.4em;
        font-size: 1.6rem;
    }
    .cd-products-table .top-info .check {
        margin-bottom: 1.5em;
    }
}

.cd-products-table .features .top-info {
    /* models */
    width: 100px;
    cursor: auto;
    background: #fafafa;
}

@media only screen and (min-width: 1170px) {
    .cd-products-table .features .top-info {
        width: 150px;
    }
}

.cd-products-table .selected .top-info .check::before {
    /* green circle dot */
    background: #0b0b0b;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation: cd-bounce 0.3s;
    -moz-animation: cd-bounce 0.3s;
    animation: cd-bounce 0.3s;
}

@-webkit-keyframes cd-bounce {
    0% {
        -webkit-transform: scale(1);
    }
    60% {
        -webkit-transform: scale(1.6);
    }
    100% {
        -webkit-transform: scale(1.5);
    }
}

@-moz-keyframes cd-bounce {
    0% {
        -moz-transform: scale(1);
    }
    60% {
        -moz-transform: scale(1.6);
    }
    100% {
        -moz-transform: scale(1.5);
    }
}

@keyframes cd-bounce {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    60% {
        -webkit-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -ms-transform: scale(1.6);
        -o-transform: scale(1.6);
        transform: scale(1.6);
    }
    100% {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.cd-products-table .selected .top-info .check::after {
    /* check icon */
    opacity: 1;
}

@media only screen and (min-width: 1170px) {
    .cd-products-table.top-fixed .cd-products-columns>li,
    .cd-products-table.top-scrolling .cd-products-columns>li,
    .cd-products-table.top-fixed .features,
    .cd-products-table.top-scrolling .features {
        padding-top: 160px;
    }
    .cd-products-table.top-fixed .top-info,
    .cd-products-table.top-scrolling .top-info {
        height: 160px;
        position: fixed;
        top: 0;
    }
    .no-cssgradients .cd-products-table.top-fixed .top-info,
    .no-cssgradients .cd-products-table.top-scrolling .top-info {
        border-bottom: 1px solid #e6e6e6;
    }
    .cd-products-table.top-fixed .top-info::after,
    .cd-products-table.top-scrolling .top-info::after {
        opacity: 1;
    }
    .cd-products-table.top-fixed .top-info h3,
    .cd-products-table.top-scrolling .top-info h3 {
        -webkit-transform: translateY(-116px);
        -moz-transform: translateY(-116px);
        -ms-transform: translateY(-116px);
        -o-transform: translateY(-116px);
        transform: translateY(-116px);
    }
    .cd-products-table.top-fixed .top-info img,
    .cd-products-table.top-scrolling .top-info img {
        -webkit-transform: translateY(-62px) scale(0.4);
        -moz-transform: translateY(-62px) scale(0.4);
        -ms-transform: translateY(-62px) scale(0.4);
        -o-transform: translateY(-62px) scale(0.4);
        transform: translateY(-62px) scale(0.4);
    }
    .cd-products-table.top-scrolling .top-info {
        position: absolute;
    }
}

.cd-table-navigation a {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 15px;
    -webkit-transform: translateY(55px);
    -moz-transform: translateY(55px);
    -ms-transform: translateY(55px);
    -o-transform: translateY(55px);
    transform: translateY(55px);
    /* replace text with image */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    height: 60px;
    width: 40px;
    background: rgba(64, 64, 66, 0.8) url("../img/cd-arrow.svg") no-repeat center center;
    border-radius: 3px;
    -webkit-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -webkit-transform 0.3s;
    -moz-transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, -moz-transform 0.3s;
    transition: background-color 0.3s, opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.cd-table-navigation a.inactive {
    opacity: 0;
    visibility: hidden;
}

.cd-table-navigation a.prev {
    left: 120px;
    right: auto;
    -webkit-transform: translateY(55px) translateX(15px) rotate(180deg);
    -moz-transform: translateY(55px) translateX(15px) rotate(180deg);
    -ms-transform: translateY(55px) translateX(15px) rotate(180deg);
    -o-transform: translateY(55px) translateX(15px) rotate(180deg);
    transform: translateY(55px) translateX(15px) rotate(180deg);
}

.no-touch .cd-table-navigation a:hover {
    background-color: #404042;
}

@media only screen and (min-width: 1170px) {
    .cd-table-navigation a {
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
        transform: translateY(100px);
    }
    .cd-table-navigation a.prev {
        left: 210px;
        -webkit-transform: translateY(100px) translateX(15px) rotate(180deg);
        -moz-transform: translateY(100px) translateX(15px) rotate(180deg);
        -ms-transform: translateY(100px) translateX(15px) rotate(180deg);
        -o-transform: translateY(100px) translateX(15px) rotate(180deg);
        transform: translateY(100px) translateX(15px) rotate(180deg);
    }
    .top-fixed .cd-table-navigation a {
        position: fixed;
    }
    .top-fixed .cd-table-navigation a,
    .top-scrolling .cd-table-navigation a {
        -webkit-transform: translateY(45px);
        -moz-transform: translateY(45px);
        -ms-transform: translateY(45px);
        -o-transform: translateY(45px);
        transform: translateY(45px);
    }
    .top-fixed .cd-table-navigation a.prev,
    .top-scrolling .cd-table-navigation a.prev {
        -webkit-transform: translateY(45px) translateX(15px) rotate(180deg);
        -moz-transform: translateY(45px) translateX(15px) rotate(180deg);
        -ms-transform: translateY(45px) translateX(15px) rotate(180deg);
        -o-transform: translateY(45px) translateX(15px) rotate(180deg);
        transform: translateY(45px) translateX(15px) rotate(180deg);
    }
}


/* -------------------------------- 

No JS

-------------------------------- */

.no-js .actions {
    display: none;
}

.no-js .cd-products-table .top-info {
    height: 145px;
}

@media only screen and (min-width: 1170px) {
    .no-js .cd-products-table .top-info {
        height: 248px;
    }
}

.no-js .cd-products-columns .check {
    display: none;
}


/* ----------------------------

Compare page Search bar

----------------------------- */

.searchbar {
    position: relative;
    min-width: 50px;
    width: 0%;
    height: 35px;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s
}

.searchbar-input {
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: #f1f1f1;
    border-bottom: 1px solid #0b0b0b;
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0px 25px 0px 10px;
    font-size: 16px;
    color: #0b0b0b
}

.searchbar-input::-webkit-input-placeholder {
    color: #fff
}

.searchbar-input:-moz-placeholder {
    color: #fff
}

.searchbar-input::-moz-placeholder {
    color: #fff
}

.searchbar-input:-ms-input-placeholder {
    color: #fff
}

.searchbar-icon,
.searchbar-submit {
    width: 50px;
    display: block;
    position: absolute;
    top: 0;
    font-family: verdana;
    font-size: 22px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 35.5px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #0b0b0b;
    border-left: 1px solid white;
}

.searchbar-open {
    width: 100%
}

.btn-group.special {
    display: flex;
}

.special .btn {
    flex: 1
}


/* Equal Hieght Fix */


/* .row > div[class*='col-'] {
  display: flex;
  flex:1 0 auto;
} */

.navbar-form-search {
    position: relative;
}

.navbar-form-search .form-control {
    width: 250px;
}

.navbar-form-search .btn {
    border: 0;
    background: transparent;
    font-size: 18px;
}

.navbar-form-search .btn:active,
.navbar-form-search .btn:hover,
.navbar-form-search .btn:focus {
    color: #000;
    outline: none;
    box-shadow: none;
}

.navbar-form-search .search-form-container {
    text-align: right;
    position: absolute;
    width: 300px;
    overflow: hidden;
    background: #fff;
    right: 60px;
    top: 0;
    z-index: 9;
    transition: all .3s ease-in-out;
}

.navbar-form-search .search-form-container.hdn {
    width: 0;
}

.navbar-form-search .search-form-container .search-input-group {
    width: 300px;
}

/* Make it a marquee */
.marquee {
    width: 100%;
    background-color:#fff;
    font-weight: 900;
    padding:15px;
    color:#f00;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 15s linear infinite;
    animation-direction: alternate-reverse;
}

.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { text-indent: 0em }
    /* 20% { text-indent: 100em } */
    100% { text-indent: 100em }
}

