<section id="Checkout" class="container-fluid clearfix no-gutters pt-5 pb-5 mt-5">
    <div class="container bg-white p-5">
        <div class="py-5 text-center lead">
            <h2 class="title text-uppercase">thank you</h2>
            <p class="">Payment Is Successfully Processsed And Your Order Is On The Way</p>
            <p class="main-text">Transaction <span class="badge badge-dark">ID:267676GHERT105467</span></p>
            <h4 class="h6 text-primary">Please find your <span class="main-text text-dark">Oder Details</span> below</h4>
        </div>

        <!-- Client Information -->
        <hr class="my-3">

        <div class="row pb-5 p-5">
            <div class="col-md-4">
                <p class="font-weight-bold mb-1 main-text">Billing Address</p>
                <p class="mb-1">John Doe, Mrs Emma Downson</p>
                <p>Acme Inc</p>
                <p class="mb-1">Berlin, Germany</p>
                <p class="mb-1">6781 45P</p>
            </div>

            <div class="col-md-4">
                <p class="font-weight-bold mb-1 main-text">Shipping Address</p>
                <p class="mb-1">John Doe, Mrs Emma Downson</p>
                <p>Acme Inc</p>
                <p class="mb-1">Berlin, Germany</p>
                <p class="mb-1">6781 45P</p>
            </div>

            <div class="col-md-4 text-right">
                <p class="font-weight-bold mb-1 main-text">Payment Details</p>
                <p class="mb-1"><span class="main-text">Payment Method: </span> Mobile Money</p>
                <p class="mb-1"><span class="main-text">Payment ID: </span> 267676GHERT105467</p>
                <p class="mb-1"><span class="main-text">Date: </span> 4 Dec, 2019</p>
            </div>
        </div>

        <!-- Order table -->
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product ID</th>
                    <th scope="col-md-4">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price (GHs)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>SKU927MAU2</td>
                    <td scope="col-md-4">Galaxy S20 | S20+ I S20 Ultra</td>
                    <td>3</td>
                    <td>3490.00</td>
                </tr>

            </tbody>
        </table>

        <!-- order price summary -->
        <div class="d-flex flex-row-reverse bg-dark text-white p-4">
            <div class="py-3 px-5 text-right">
                <div class="mb-2 text-muted">Total Amount (GHs)</div>
                <div class="h5 font-weight-light">234,234.00</div>
            </div>

            <div class="py-3 px-5 text-right">
                <div class="mb-2 text-muted">VAT (%)</div>
                <div class="h5 font-weight-light">10%</div>
            </div>

            <div class="py-3 px-5 text-right">
                <div class="mb-2 text-muted">Shipping (GHs)</div>
                <div class="h5 font-weight-light">90</div>
            </div>

            <div class="py-3 px-5 text-right">
                <div class="mb-2 text-muted">Discount (%)</div>
                <div class="h5 font-weight-light">4%</div>
            </div>

            <div class="py-3 px-5 text-right">
                <div class="mb-2 text-muted">Promo Code</div>
                <div class="h5 font-weight-light">XYZ-BA</div>
            </div>
        </div>
    </div>
</section>