<?php 
    $brand = $_GET['brand']; 
    if(isset($brand)) {
      if(isset($brand['meta_title'])) { $_GET['title'] = $brand['meta_title']; }
      $_GET['keywords'] = $brand['meta_keywords']; 
      $_GET['description'] = $brand['meta_description']; 
      $_GET['image'] = $_GET['imageurl'].$_GET['brand']['banner']; 
    }
?>
<!-- Hero -->
<div id="Brand_Hero" class="bg-dark">
  <?php echo '<img src="'.$_GET['imageurl'].$_GET['brand']['banner'].'" onerror="'.$_GET['brand']['banner'].'" class="card-img" alt="">' ?>
  <!-- <img src="assets/img/nasco/nasco-hero.jpg" class="card-img" alt=""> -->
  <div class="card-img-overlay">
    <h1 class="main-text text-shadow"></h1>
    <p class=""></p>
  </div>
</div>

<!-- Categories -->
<div class="container-fluid clearfix">
  <div class="owl-carousel">
    <?php
      $category = $_GET['brand']['categories'];
      if(isset($category)) {
        // print_r($category);
        foreach ($category as $key => $value)
        {
          if($value['_id']) {
            echo '<div class="item">
                    <div class="bg-abb text-white">
                      <a href="brands/'.$_GET['brand']['name'].'/category/'.$value['_id'].'">
                        <img src="'.$_GET['imageurl'].$value['abb']['imageurl'].'" class="card-img" onerror="this.src=assets/img/default/no-image.jpeg" alt="" />
                        <div class="card-img-overlay">
                          <h4 class="main-text text-uppercase side_content_push_down_half">'.$value['name'].'</h4>
                          <p class="small">View Products</p>
                          <i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                      </a>
                    </div>
                  </div>';
          }
        }
      }
    ?>
  </div>
</div>


<?php //print_r($_GET['brand']); ?>

<!-- Brands -->
<section id="Brand" class="container-fluid clearfix" >
    <div class="container">
        <!-- Promotions -->
        <div class="row">
            <!-- Brand Promotion -->
            <?php
              if($_GET['brand']['promotion']) {
                echo '<div class="col-md-12 col-sm-12 mt-3">
                        <div class="card">
                            <a href="promotions" class="">
                                <div class="row no-gutters">
                                    <div class="col-md-6 col-sm-12">
                                      <img src="'.$_GET['imageurl'].$_GET['brand']['promotion_image'].'" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                      <div class="card-body">
                                        <h4 class="main-text side_content_push_down_half">Save on the latest</h4>  
                                        <p class="lead text-muted">Learn More</p>
                                        <i class="fas h3 mt-n2 text-muted fa-long-arrow-alt-right"></i>
                                      </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>';
              }
            ?>
            <div class="col-md-12 col-sm-12 d-none">
                <div class="card">
                    <a href="promotions" class="">
                        <div class="row no-gutters">
                            <div class="col-6">
                              <img src="assets/img/nasco/nasco_promo.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-6">
                              <div class="card-body">
                                <h4 class="main-text side_content_push_down_half">Save on the latest</h4>  
                                <p class="lead text-muted">Learn More</p>
                                <i class="fas h3 mt-n2 text-muted fa-long-arrow-alt-right"></i>
                              </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
            <!-- Brand Blog -->
            <div class="col-md-12 col-sm-12">
                <div class="card bg-dark text-white">
                  <?php 
                    echo '<a href="blogs/" class="">
                              <img src="'.$_GET['imageurl'].$_GET['brand']['blog_image'].'" class="card-img" alt="...">
                              <div class="card-img-overlay">
                                  <h4 class="main-text text-uppercase side_content_push_down_half">Whats New?</h4>
                                  <p class="lead">News blog and many more</p>
                              </div>
                          </a>';
                  ?>
                </div>
            </div>
        </div>
    </div>
</section>
