<!-- Hero -->
<div id="Brand_Hero" class="">
  <img src="assets/img/blog.jpg" class="card-img" alt="">
  <div class="card-img-overlay">
    <h1 class="main-text"></h1>
    <p class=""></p>
  </div>
</div>

<!-- Brands -->
<div id="Blog" class="container-fluid clearfix pb-5" ng-controller="blogscontroller">
    <div class="p-3">
        <div class="container">
            
            <div class="row" hidden>
                <!-- Sidebar -->
                <div class="col-md-3">
                    <!-- Categories -->
                    <ul class="list-group mb-5">
                        <li class="list-group-item main-text h5 text-uppercase"><i class="fas fa-folder"></i> Categories</li>
                        <li class="list-group-item" ng-repeat="c in category">
                            <i class="far fa-dot-circle"></i> 
                            <a href="" class="text-info" ><span class="">{{c.name|titlecase}}</span></a>
                        </li>
                        <!-- <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="">Entertainment</span></a></li>
                        <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="">New Ideas</span></a></li>
                        <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="">Trending</span></a></li> -->
                    </ul>

                    <!-- Archives -->
                    <!-- <ul class="list-group mb-5">
                        <li class="list-group-item main-text h5 text-uppercase"><i class="fas fa-archive"></i> ARCHIVES</li>
                        <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="text-dark">November 13, 2019</span></a></li>
                        <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="text-dark">January 13, 2019</span></a></li>
                        <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="text-dark">June 13, 2019</span></a></li>
                        <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="text-dark">March 13, 2019</span></a></li>
                    </ul> -->
                </div>
            </div>

            <!-- Blog -->
            <div class="col" hidden>
            </div>

            <div class="card-columns">
                <div class="card" ng-repeat="b in blogs">
                    <img class="card-img-top" ng-src="{{imageurl + p.imageurl}}" alt="">

                    <!-- <img ng-src="https://84aa3502.ngrok.io/public/{{b.imageurl}}" class="card-img-top" onerror="this.src='assets/img/tv2.png'"> -->
                    <div class="card-body">
                    <h5 class="main-text">{{b.title}}</h5>
                    <p class="text-muted">{{b.description|lowercase}}</p>
                    <a href="blogs/{{b.code}}" class="btn btn-outline-dark text-center">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<?php //print_r($_GET['blogs']); ?>