<?php 
    $brand = $_GET['blog']; 
    if(isset($brand)) {
      if(isset($brand['meta_title'])) { $_GET['title'] = $brand['meta_title']; }
      $_GET['meta_keywords'] = $brand['meta_keywords']; 
      $_GET['description'] = $brand['meta_description']; 
    }
?>
<!-- Hero -->
<div id="Brand_Hero" class="">
  <img src="assets/img/blog.jpg" class="card-img" alt="">
  <div class="card-img-overlay">
    <h1 class="main-text"></h1>
    <p class="lead"></p>
  </div>
</div>

<section id="Blog_Single" class="container-fluid clearfix" ng-controller="blogscontroller">
    <div class="container"> 
        <div class="row">

            <!-- Left Side -->
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <?php 
                            $value = $_GET['blog'];
                            if(isset($_GET['blog'])) {
                                $_GET['title'] = $value['title'];
                                $_GET['description'] = $value['description'];
                                echo '<img src="'.$_GET['imageurl'].$value['imageurl'].'" class="img-fluid mb-3" alt="">
                                    <p>'.$value['content'].'</p>';
                            }
                        ?>
                        <!-- <img src="assets/img/blog.jpg" class="img-fluid mb-3" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quo itaque ex magni, ratione animi maiores aut, quisquam alias unde quae exercitationem? Dolor hic, error ratione laborum quos optio praesentium!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui cum dolorum repellendus accusantium voluptas aliquid enim dolores laborum voluptatum exercitationem ratione eaque nemo sunt, autem, sint commodi officiis. Quod, fugiat.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error repudiandae architecto sit labore vel molestias voluptate, asperiores quos perspiciatis assumenda obcaecati et beatae ad quod tempore doloribus, placeat dolor cupiditate.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur numquam a, vitae minima perspiciatis temporibus sit. Quaerat, tempore! Cupiditate aut ut atque accusamus illo nesciunt distinctio laborum sunt ducimus unde?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit molestias et facere, veniam alias aliquid atque voluptatum architecto mollitia tenetur iste distinctio nulla laborum aspernatur ut? Architecto, rerum pariatur?</p> -->
                    </div>
                </div>
            </div>
            
            <!-- Right Side -->
            <div class="col-md-4">
                <form class="form-inline mb-5">
                    <input class="form-control" type="search" ng-model="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark  ml-auto" type="submit">Search</button>
                </form>
                
                <!-- Recent Post -->
                <ul class="list-group mb-5">
                    <li class="list-group-item main-text h5 text-uppercase"><i class="fas fa-list-ul"></i> RECENT POSTS</li>
                    <li class="list-group-item" ng-repeat="b in blogs | filter:search | limitTo : 5 : 0">
                        <p><span class="text-dark"> {{ b.created }} </span></p>
                        <i class="far fa-dot-circle"></i><a href="" class="text-info"> {{b.title}}</a>
                        <p>{{b.description|lowercase}}</p>
                    </li>
                    
                </ul>

                <!-- Archives -->
                <ul class="list-group mb-5" hidden>
                    <li class="list-group-item main-text h5 text-uppercase"><i class="fas fa-archive"></i> ARCHIVES</li>
                    <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="text-dark">November 13, 2019</span></a></li>
                    <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="text-dark">January 13, 2019</span></a></li>
                    <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="text-dark">June 13, 2019</span></a></li>
                    <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="text-dark">March 13, 2019</span></a></li>
                </ul>

                <!-- Categories -->
                <ul class="list-group mb-5" hidden>
                    <li class="list-group-item main-text h5 text-uppercase"><i class="fas fa-folder"></i> Categories</li>
                    <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="">Category 1</span></a></li>
                    <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="">Category 2</span></a></li>
                    <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="">Category 3</span></a></li>
                    <li class="list-group-item"><i class="far fa-dot-circle"></i> <a href="" class="text-info" ><span class="">Category 4</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<?php // print_r($_GET['blog']); ?>