<!-- Hero -->
<div id="Brand_Hero" class="">
    <img src="assets/img/default_hero.jpg" class="card-img" alt="">
    <div class="card-img-overlay">
        <h1 class="main-text"></h1>
        <p class=""></p>
    </div>
</div>

<!-- Conditions -->
<section id="Corporate" class="container-fluid clearfix no-gutters pt-5 pb-5">
    <div class="container">
        <div class="row bg-white p-3">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active main-text" id="v-pills-terms-tab" data-toggle="pill" href="#v-pills-terms" role="tab" aria-controls="v-pills-terms" aria-selected="false">Terms & Conditions of Use</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-terms" role="tabpanel" aria-labelledby="v-pills-terms-tab">
                        <h6 class="main-text"><span>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the</span> <span style="color: #2c9ffd;"><a href="https://electrolandgh.com"><span style="color: #2c9ffd;">https://electrolandgh.com</span></a>
                                <span>website or IOS/Android App operated by</span> Electroland Ghana Limited</span>.</h6>
                        <p><span>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</span></p>
                        <p><span>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</span></p>
                        <hr />
                        <h6 class="main-text">Termination</h6>
                        <p><span>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</span></p>
                        <p><span>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</span></p>
                        <hr />
                        <h6 class="main-text">Links To Other Web Sites</h6>
                        <p><span>Our Service may contain links to third­party web sites or services that are not owned or controlled by <span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span>.</span>
                        </p>
                        <p><span><span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong> <span>has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that</span> <strong>Electroland Ghana Limited</strong></span> shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services
                                available on or through any such web sites or services.</span>
                        </p>
                        <p><span>We strongly advise you to read the terms and conditions and privacy policies of any 3rd-Party web sites or services that you visit.</span></p>
                        <hr />
                        <h6 class="main-text">Images on Our Website Pages</h6>
                        <p><span>Our Product images may</span> <strong><span style="color: #2c9ffd;">Differ from the real product on ground</span><span>, </span></strong><span>reason the source of manufacturing factory model.</span></p>
                        <p><span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span> <span>has no control over, and assumes no responsibility for the content of the virtual images supplied by manufacturers, whereby as well will not hold responsibility if such inconvenience occurred.</span></p>
                        <p><span>We strongly advise you to have a look on the real product to finalize your opinion.</span></p>
                        <hr />
                        <h6 class="main-text">Governing Law</h6>
                        <p><span>These Terms shall be governed and construed in accordance with the laws of Ghana, without regard to its conflict of law provisions.</span></p>
                        <p><span>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</span></p>
                        <hr />
                        <h6 class="main-text">Prices</h6>
                        <p><span><span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span> reserve the right, at our sole discretion, to modify or replace Our Pricelist at any time without Prior notice as the need arises due to any urgency. What constitutes
                                a material change will be determined at our sole discretion.</span>
                        </p>
                        <p><span>By continuing to access or use <span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span> Service after those changes / revisions become effective, you agree to be bound by the revised prices. If you do not agree to the
                                new terms, please stop using the Service.</span>
                        </p>
                        <hr />
                        <h6 class="main-text">Changes</h6>
                        <p><span><span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span> reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 5 - 7days notice
                                prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</span>
                        </p>
                        <p><span>By continuing to access or use <span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span> Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms,
                                please stop using the Service.</span>
                        </p>
                        <hr />
                        <h6 class="main-text">Contact Us</h6>
                        <p><span>If you have any questions about these Terms, please </span> <a class="btn btn-outline-dark" href="locations">contact us</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>