<!-- Hero -->
<div id="Brand_Hero" class="">
    <img src="assets/img/default_hero.jpg" class="card-img" alt="">
    <div class="card-img-overlay">
        <h1 class="main-text"></h1>
        <p class=""></p>
    </div>
</div>

<!-- Conditions -->
<section id="Corporate" class="container-fluid clearfix no-gutters pt-5 pb-5">
    <div class="container">
        <div class="row bg-white p-3">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active main-text" id="v-pills-cookies-tab" data-toggle="pill" href="#v-pills-cookies" role="tab" aria-controls="v-pills-cookies" aria-selected="false">Privacy Policy</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-cookies" role="tabpanel" aria-labelledby="v-pills-cookies-tab">
                        <h6 class="main-text">Privacy Policy</h6>
                        <p>This Privacy Policy was last modified on August 15, 2015</p>
                        <p><span style="color: #2c9ffd;"><strong>Electroland Ghana Limited</strong></span> we operates <span style="color: #2c9ffd;"><a href="https://electrolandgh.com"><span style="color: #2c9ffd;">https://electrolandgh.com</span></a>
                            </span>, Electroland Android App, Electroland IOS App. This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
                        <p>We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>
                        <h6 class="main-text">Information Collection And Use</h6>
                        <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").</p>
                        <h6 class="main-text">Log Data</h6>
                        <p>Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the
                            pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>
                        <h6 class="main-text">Cookies</h6>
                        <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.</p>
                        <p>Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>
                        <h6 class="main-text">Security</h6>
                        <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal
                            Information, we cannot guarantee its absolute security.</p>
                        <h6 class="main-text">Changes To This Privacy Policy</h6>
                        <p>Electroland Ghana Limited may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on the Site. You are advised to review this Privacy Policy periodically for any changes.</p>
                        <h6 class="main-text">Contact Us</h6>
                        <p>If you have any questions about this Privacy Policy, please <a class="btn btn-outline-dark" href="locations">contact us</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>