<!-- Hero -->
<div id="Brand_Hero" class="">
  <?php echo '<img src="'.$_GET['imageurl'].$_GET['category']['nasco']['banner'].'" class="card-img" alt="">'; ?>
  <!-- <img src="assets/img/brand.jpg" class="card-img" alt=""> -->
  <div class="card-img-overlay">
    <h1 class="main-text"></h1>
    <p class=""></p>
  </div>
</div>

<section id="Explore" class="container-fluid clearfix" ng-controller="brandcategoryproducts">
	<div class="p-3">
		<div class="row">
			<!-- Left Filters -->
			<?php require_once('filter.phtml') ?>

			<!-- Listed Products -->
			<div class="col-md-9">
				<!-- 1st product row -->
				<div class="row">
					
					<div class="col-md-4 relPos" ng-repeat="p in brandproducts" ng-controller="productcardcontroller">
						<div class="card w-100">
							<div class="text-center" ng-init="productData(p)">
								<img ng-src="{{imageurl + product.imageurl}}" class="card-img pic-1" onerror="this.src='assets/img/default/no-image.jpeg'" alt="">
								<img ng-src="{{imageurl + p.images[0].imageurl}}" class="card-img pic-2" onerror="this.src='assets/img/default/no-image.jpeg'" alt="">
							</div>
							<div class="card-body">
								<!-- Sizing Chart -->
								<ul class="nav justify-content-center mb-3">
									<li class="nav-item" ng-repeat="s in p.sizes">
										<a class="nav-link btn-no-radius" ng-class="{'btn-dark': s.code == product.code, 'text-white': s.code == product.code, 'btn-outline-dark': s.code != product.code }" ng-click="selectedSize(s)">{{s.name}}"</a>
									</li>
								</ul>

								<!-- Product names -->
								<h5 class="main-text text-center">{{product.name}}</h5>
								<p class="text-muted small text-center">{{product.code|uppercase}}</p>
								<h4 class="lead text-center">{{product.current_amount|currency:'GH₵ '}}</h4>
								<hr>

								<!-- Features -->
								<ul class="text-muted text-justify-left list-unstyled small">
									<li class="mt-1" ng-repeat="f in p.features | limitTo: 3 : 0" ng-bind="f.name"></li>
								</ul>

								<!-- Buttons -->
								<div class="text-center mt-3">
									<a href="products/{{product._id}}?code={{product.code}}" class="btn btn-block btn-dark mb-3">
									Learn More
									</a>
									<div class="btn-group special" role="group">
										<a href="javascript:void(0)" ng-click="addToCompare(product)" class="btn btn-block btn-outline-dark mt-3" ng-class="{'text-white': hover}"  ng-mouseenter="hover = true" ng-mouseleave="hover = false">
											Compare
										</a>
										<a href="javascript:void(0)" ng-click="addToCart(product)" class="btn btn-outline-dark mt-3" ng-class="{'text-white': hover}"  ng-mouseenter="hover = true" ng-mouseleave="hover = false">
											 <i class="fas fa-2x fa-shopping-cart"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<?php //print_r($_GET['category']); ?>