<!-- Hero -->
<div id="Brand_Hero" class="">
  <img src="assets/img/cats/home.png" class="card-img" alt="">
  <div class="card-img-overlay">
    <h1 class="main-text"></h1>
    <p class=""></p>
  </div>
</div>

<section id="Explore" class="container-fluid clearfix">
    <div class="container">
        <div class="row pt-3 pb-3">
            <ul class="nav justify-content-center">
            <?php
                $brands = $_GET['brands'];
                if (isset($brands)) {
                    // print_r($brands);
                    foreach ($brands as $key => $value) {
                        // print_r($value);
                        //For md (≥768px)	lg (≥992px)	xl (≥1200px)
                        echo '<li class="nav-item col-sm-12 col-md-3 content">
                                    <a href="brands/'.$value['name'].'">
                                        <div class="content-overlay"></div>
                                        <img class="img-fluid" src="'.$_GET['imageurl'].$value['logo'].'" alt="samsung logo">
                                        <div class="content-details">
                                            <img class="img-fluid" src="'.$_GET['imageurl'].$value['banner'].'" alt="'.$value['name'].'category image">
                                        </div>
                                    </a>
                                </li>';
                    }
                }

                ?>
                <!-- <li class="nav-item col-sm-12 col-md-3 content">
                    <a href="samsung">
                        <div class="content-overlay"></div>
                        <img class="img-fluid" src="assets/img/samsung/samsung_logo.png" alt="samsung logo">
                        <div class="content-details">
                            <img class="img-fluid" src="assets/img/samsung/samsung-default.png" alt="samsung category image">
                        </div>
                    </a>
                </li>
                <li class="nav-item col-sm-12 col-md-3 content">
                    <a href="midea">
                        <div class="content-overlay"></div>
                        <img class="img-fluid" src="assets/img/midea/midea_logo.png" alt="midea logo">
                        <div class="content-details">
                            <img class="img-fluid" src="assets/img/midea/midea-default.png" alt="midea category image">
                        </div>
                    </a>
                </li>
                <li class="nav-item col-sm-12 col-md-3 content">
                    <a href="toshiba">
                        <div class="content-overlay"></div>
                        <img class="img-fluid" src="assets/img/toshiba/toshiba_logo.png" alt="toshiba logo">
                        <div class="content-details">
                            <img class="img-fluid" src="assets/img/toshiba/toshiba-default.png" alt="toshiba category image">
                        </div>
                    </a>
                </li>
                <li class="nav-item col-sm-12 col-md-3 content">
                    <a href="nasco">
                        <div class="content-overlay"></div>
                        <img class="img-fluid" src="assets/img/nasco/nasco_logo.png" alt="nasco logo">
                        <div class="content-details">
                            <img class="img-fluid" src="assets/img/nasco/nasco-default.png" alt="nasco category image">
                        </div>
                    </a>
                </li>
                <li class="nav-item col-sm-12 col-md-3 content">
                    <a href="abb">
                        <div class="content-overlay"></div>
                        <img class="img-fluid" src="assets/img/abb/abb_logo.png" alt="abb logo">
                        <div class="content-details">
                            <img class="img-fluid" src="assets/img/abb/abb-default.png" alt="abb category image">
                        </div>
                    </a>
                </li> -->
            </ul>
        </div>
      </div>
    </div>
</section>