<!-- Hero -->
<div id="Brand_Hero" class="">
	<?php echo '<img src="' . $_GET['imageurl'] . $_GET['category']['banner'] . '" class="card-img" alt="">'; ?>
	<!-- <img src="assets/img/brand.jpg" class="card-img" alt=""> -->
	<div class="card-img-overlay">
		<h1 class="main-text"></h1>
		<p class=""></p>
	</div>
</div>

<section id="Explore" class="container-fluid clearfix" ng-controller="brandcategoryproducts">
	<div class="p-3">
		<div class="row">
			<!-- Left Filters -->
			<?php require_once('filter.phtml') ?>

			<!-- Listed Products -->
			<div class="col-md-9">
				<!-- 1st product row -->
				<div class="row">

					<div class="col-md-4 relPos" ng-repeat="p in brandproducts" ng-controller="productcardcontroller">
						<div class="card w-100">
							<div class="text-center" ng-init="productData(p)">
								<img ng-src="{{imageurl + p.imageurl}}" class="card-img pic-1" onerror="this.src='assets/img/default/no-image.jpeg'" alt="">
								<img ng-src="{{imageurl + p.images[0].imageurl}}" onerror="this.src='assets/img/default/no-image.jpeg'" class="card-img pic-2" alt="">
							</div>
							<div class="card-body">
								<!-- Sizing Chart -->
								<ul class="nav justify-content-center mb-3">
									<li class="nav-item" ng-repeat="s in p.sizes" ng-class="{'test': obj.value1 == 'someothervalue' || obj.value2 == 'somethingelse'}">
										<a class="nav-link btn-outline-dark btn-no-radius" ng-click="selectedSize(s)">{{s.name}}"</a>
									</li>
								</ul>

								<!-- Product names -->
								<h5 class="main-text text-center">{{product.name}}</h5>
								<p class="text-muted small text-center">{{product.code|uppercase}}</p>
								<hr>

								<!-- Features -->
								<ul class="text-muted text-justify-left small" ng-bind-html="product.short_description">
									<li ng-repeat="f in p.features | limitTo: 3 : 0">{{f.name}}</li>
									<!-- <li>8K AI Upscaling</li>
									<li>Quantum Processor 8K</li> -->
								</ul>

								<!-- Buttons -->
								<div class="text-center">
									<a href="products/{{product._id}}?code={{product.code}}" class="btn btn-block btn-dark mb-3">
										Learn More
									</a>
									<!-- <a href="" class="underline text-muted">Where To buy</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<?php print_r($_GET['page']); ?>